.icon {
  // !important for theme changes
  height: 48px !important;
  width: 48px !important;
  background-size: 48px !important;
  display: block !important;
  margin-left: auto;
  margin-right: auto;
}

.label {
  text-align: center;
}
