<div class="tabs-panel is-active">
    <!-- Simple Input Box -->
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Simple Textbox</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-3">
                <h6></h6>
                <br>
                <input type="text" alloy
                  [value]="defaultValue"
                  [size]="width"
                  [maxLength]="maxLength"
                  [placeholder]="placeholder"
                  [disabled]="disabledSimple"
                  [readonly]="readonlySimple"
                  [error]="errorSimple"
                  [errorMessage]="errorMessage"
                  style="width: auto"> <!-- required for 'size'-->
            </div>
            <div class="columns small-3">
                <div>
                    <h6>Set size of Input TextBox</h6>
                    <div>
                        <input type="range" alloy [(ngModel)]="width" min="1" max="30">
                    </div>
                </div>
                <div>
                    <h6>Set max length of Input TextBox</h6>
                    <div>
                        <input type="number" alloy [(ngModel)]="maxLength">
                    </div>
                </div>
                <div>
                    <h6>Set placeholder for Input TextBox</h6>
                    <div>
                        <input type="text" alloy [(ngModel)]="placeholder">
                    </div>
                </div>
                <div>
                    <h6>Set default value for Input TextBox</h6>
                    <div>
                        <input type="text" alloy [(ngModel)]="defaultValue">
                    </div>
                </div>
                <div>
                    <h6>Toggle Input Box Disabled State</h6>
                    <div>
                        <button id="disabled" type="button" class="button-standard" (click)="toggleDisabledSimple()" [ngClass]="{'is-pressed': disabledSimple}">Disable</button>
                        <br>
                    </div>
                </div>
                <div>
                    <h6>Toggle Input Box ReadOnly State</h6>
                    <div>
                        <button id="readonly" type="button" class="button-standard" (click)="toggleReadOnlySimple()" [ngClass]="{'is-pressed': readonlySimple}">ReadOnly</button>
                    </div>
                </div>
                <div>
                    <h6>Toggle Input Box Error State</h6>
                    <div>
                        <button id="error" type="button" class="button-standard" (click)="toggleErrorSimple()" [ngClass]="{'is-pressed': errorSimple}">Error</button>
                    </div>
                </div>
            </div>
            <div class="columns small-6">
                <pre ngNonBindable>
    &lt;input type="text" alloy
        [size]="number"
        [maxlength]="number"
        [placeholder]="string"
        [value]="string"
        [disabled]="bool"
        [error]="bool"
        [readonly]="bool"&gt;
                </pre>
            </div>
        </div>
        <div class="row align-center">
            <hr class="column stretch">
            <div class="columns small-12">
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-3">
                <form id="myform" ngNativeValidate>
                    <input type="text" alloy [required]="requiredSimple">
                </form>
                <input type="submit" class="button-standard" form="myform">
            </div>
            <div class="columns small-3">
                <div>
                    <button id="required" type="button" class="button-standard" (click)="toggleRequiredSimple()" [ngClass]="{'is-pressed': requiredSimple}">Required</button>
                </div>
            </div>
            <div class="columns small-6">
                <pre ngNonBindable>
    &lt;input type="text" alloy [required]="bool""&gt;
                </pre>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-12">
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-3">
                <h6></h6>
                <br>
                <form id="myform2" ngNativeValidate>
                    <input type="text" alloy [pattern]="regexPattern">
                </form>
                <input type="submit" class="button-standard" form="myform2">
            </div>
            <div class="columns small-3">
                <div>
                    <h6>Set Regex Pattern for validation</h6>
                    <div>
                        <input type="text" alloy [(ngModel)]="regexPattern">
                    </div>
                </div>
            </div>
            <div class="columns small-6">
                <pre ngNonBindable>
    &lt;input type="text" alloy [pattern]="regexPattern"&gt;
                </pre>
            </div>
        </div>
    </div>
</div>
