.about-box-header-title {
    padding-top: 18px;
}

.about-box-copyright {
    margin-top: 20px;
}

.about-box-icon {
    margin: 18px 12px;
    float: left;
}

.about-box-content {
    height: 118px;
}

.about-box-header {
    height: 100px;
    width: 100%;
}

.about-box-fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
 }

.about-box-icon-column {
     padding: 0px;
 }

.about-box-app-name {
    margin-top: -6px;
    font-size: 24px;
}

.about-box-footer-floats {
    width:100%;
}

.about-box-footer {
   height: 50px;
   background: map_get($color-palette, dialog-background-color);
   width:100%;
}

