.checkbox-container {
  display: flex;
  align-items: center;

    .child {
      padding-left: 5px;
    }

    .has-label {
        @extend .alloy-controls-font;
    }

    .has-icon {
        $height: 24px;
        $width: 24px;

        @include size($height, $width);

        cursor: default;
      }

      .disabled {
        opacity: map_get($color-palette, checkbox-disabled-opacity);        
      }
    }

    .checkbox {
        $size: 14px;
      
        &,
        * {
          @include size($size);
        }
      
        input[type="checkbox"] {
          &+ span {
            margin: 0;
            
            display:inline-block;
            vertical-align: top;
      
            background: transparent map_get($icon-pack, checkbox) no-repeat center center / $size;
          }
      
          &:hover + span,
          &.is-hovered + span {
            background: transparent map_get($icon-pack, checkbox-hover) no-repeat center center / $size;
          }
      
          &:checked + span {
            background: transparent map_get($icon-pack, checkbox-checked) no-repeat center center / $size;
          }
      
          &:disabled + span {
            background: transparent map_get($icon-pack, checkbox-disabled) no-repeat center center / $size;
      
            pointer-events: none;
          }
      
          &:checked:disabled + span {
            background: transparent map_get($icon-pack, checkbox-checked-disabled) no-repeat center center / $size;
          }
        }
    }