.checkbox-container {
  display: flex;
  align-items: center;

  label {
    // See Caranu spec pg. 18 Graphic button as an example. Label should be 10 pixels to the right of any left icon associated with it
    margin-left: 10px;
  }

  .has-icon {
    $height: 24px;
    $width: 24px;

    @include size($height, $width);

    cursor: default;

    // See Caranu spec pg. 18 Graphic button as an example. Label should be 10 pixels to the right of any left icon associated with it
    margin-left: 10px;
  }

  .has-error {
    //Derive from all the styling above from .has-icon
    @extend .has-icon;
    //Pull in the .alloy-ic-error class from _iconography which gets us the alloy-ic-error icon
    @extend .alloy-ic-error;

    //The global .alloy-ic-error icon is invisible by default. Consumers need to turn it on. 
    display: block;

    // See Caranu spec pg. 22 TextBox error state as an example. Error icon should be 8 pixels to the right of the control it is associated with
    // NOTE: We have to override the default style (margin) we are picking up from the has-icon style. 
    margin-left: 8px;
  }

  &.readonly {
    cursor: default;
    opacity: map_get($color-palette, control-default-readonly-opacity);
  }

  &.disabled {
    cursor: default;
    opacity: map_get($color-palette, control-default-disabled-opacity);        
  }
}

.checkbox {
    $size: 14px;
  
    &,
    * {
      @include size($size);
    }
  
    input[type="checkbox"] {
      &+ span {
        margin: 0;
        
        display:inline-block;
        vertical-align: top;
  
        background: transparent map_get($icon-pack, checkbox) no-repeat center center / $size;
      }
  
      &:hover + span,
      &.is-hovered + span {
        background: transparent map_get($icon-pack, checkbox-hover) no-repeat center center / $size;
      }

      &.has-error + span {
        background: transparent map_get($icon-pack, checkbox-error) no-repeat center center / $size;
      }

      &.is-hovered.has-error + span{
        background: transparent map_get($icon-pack, checkbox-hover-error) no-repeat center center / $size;
      }
  
      &.hover-disable {
        cursor: default;
      }
      
      &:checked + span {
        background: transparent map_get($icon-pack, checkbox-checked) no-repeat center center / $size;
      }

      &:checked.has-error + span {
          background: transparent map_get($icon-pack, checkbox-checked-error) no-repeat center center / $size;
        }
    }
}