.mat-dialog-container {
    background: transparent;
    padding: 0 !important;
    border: 1px solid !important;
    overflow: hidden !important;
    border-color: map_get($color-palette, window-border) !important; // rgba($glitter,$opacity-HEX28)
    box-shadow: 0 1px 8px 0 map_get($color-palette, window-box-shadow) !important; // rgba($black,$opacity-HEX7F)

    .alloy-dialog {
        width: 100%;
        height: 100%;

        #alloy-dialog {
            width: 100%;
            height: 100%;

            label.modal-dialog-title-text {
                color:  map_get($color-palette, text-title-color); // $white
                opacity: 1;
            }

            .dialog-body {
                width: 100%;
                height: calc(100% - 32px);

                // Use the right dialog specific vars to get the background color correct in the different color themes
                background: map_get($color-palette, dialog-background-color);
                // Use the right variable for the text color of the dialog content
                color: map_get($color-palette, dialog-body-color);

                // Just use the already existing Alloy classes to get the font correct
                @extend .alloy-body-content-font
            }
        }
    }

    &:focus-within, &:active, &:focus {
        border-color: map_get($color-palette, dialog-border-color) !important; // $cornflower-blue
        box-shadow: 0 1px 8px 0 map_get($color-palette, dialog-box-shadow) !important; // rgba(#0D1E40, $opacity-HEXB2)

        #alloy-dialog label.modal-dialog-title-text {
            color:  map_get($color-palette, dialog-title-bar-color); // $cornflower-blue
            opacity: 1;
        }
    }
}