progress {
    height: 4px;
}

progress[value] {
    //Reset the default appearance
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    border: none;
}

progress::-moz-progress-bar {
    background: map_get($color-palette, progress-bar-color);
}

progress::-webkit-progress-bar {
    background: map_get($color-palette, progress-bar-background);
}
progress[value]::-webkit-progress-value {
    background: map_get($color-palette, progress-bar-color);
}

progress:not([value])::-webkit-progress-bar {
    background: transparent;
}
// progress:not([value])::-webkit-progress-value {
//     background: map_get($color-palette, progress-bar-color);
// }
