.switch {
    $width: 44px;
    $height: 16px;
  
  
    @include size($width, $height);
  
    margin: 0;
  
    .switch-paddle {
      @include size($width, $height);
  
      border: 1px solid map_get($color-palette, switch-border);
      border-radius: 32px;
  
      background: map_get($color-palette, switch-bg);

      &:hover,
      &.is-hovered {
          border: 1px solid map_get($color-palette, switch-border-hover);
      }
  
      &:after {
        top: 2px; left: 2px;
        width: 19px;
        height: 10px;
  
        border-radius: 16px;
  
        background: map_get($color-palette, switch-thumb-bg);
      }
    }

    .switch-input {
      display: none;
      &:checked~.switch-paddle,
      &.is-checked~.switch-paddle {
        border: 1px solid map_get($color-palette, switch-bg-checked);
        background: map_get($color-palette, switch-bg-checked);

        &:hover,
        &.is-hovered {
            border: 1px solid map_get($color-palette, switch-border-hover);
        }

        &:after {
          left: 21px;
  
          background: map_get($color-palette, switch-thumb-bg-checked);
        }
      }

      &:disabled + .switch-paddle {
        pointer-events: none;
      }
  
      &:disabled~.switch-paddle,
      &:checked:disabled~.switch-paddle,
      &.is-checked:disabled~.switch-paddle {
        opacity: map_get($color-palette, switch-disabled-opacity);
      }
    }
  }