input[type="text"] {
    //JEFF_COMMENT: Do we really need this position: relative? The input control itself can't have children and therefore this relative anchor is useless?
  position: relative;
  height: 32px;

  padding-left: 12px;
  
  // This fixes an issue in Firefox where it would clip text that go below the baseline (e.g., letters like p, y, g, etc)
  // Apparently Firefox will not display text in input elements outside of the content box.
  // This change makes the content-box 30px high and padding 0px instead of the content box being 14px (same as font size) and top/bottom padding 8px each.
  // The font size stays at 14px, the total input box height stays at 32px, the border size stays at 1px.
  padding-top: 0px;
  padding-bottom: 0px;

  border: 1px solid map_get($color-palette, input-text-border);

  background-color: map_get($color-palette, input-text-bg);

  color: map_get($color-palette, input-text-color);
  font-family: $body-font-family;
  font-size: 14px;
  font-weight: normal;

  @include placeholder-color(map_get($color-palette, input-text-color));

  transition: border-color 0.25s ease-in-out;

  &,
  &:hover,
  &.is-hovered,
  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    box-shadow: none;
  }

  &:hover,
  &.is-hovered {
    border: 1px solid map_get($color-palette, input-text-border-hover);
  }

  &:focus,
  &.is-focused,
  &:active,
  &.is-active {
    border: 1px solid map_get($color-palette, input-text-border-active);

    background-color: map_get($color-palette, input-text-bg-active);

    caret-color: map_get($color-palette, input-text-border-active);
  }

  &:disabled {
    opacity: map_get($color-palette, input-text-disabled-opacity);

    color: map_get($color-palette, input-text-disabled-color);

    pointer-events: none;
  }

  &:read-only {
    border: 1px solid map_get($color-palette, input-text-border);

    background-color: map_get($color-palette, input-text-bg);

  }

  &.has-error {
    border: 1px solid map_get($color-palette, input-text-border-error);

    background-color: map_get($color-palette, input-text-bg-error);

    caret-color: map_get($color-palette, input-text-border-error);

    &+.error {
      display: block;
      position: absolute;
      top: 8px; right: -24px;
    }
  }

  &.grid-search {
    padding-right: 34px;
    font-size: 13px;

    @include placeholder-font(map_get($color-palette, grid-search-placeholder-color), 14px, italic);
  }
}