<div class="row align-middle small-collapse checkbox-container">
    <div class="checkbox small-1 columns">
        <input type="checkbox" [ngClass]="{'is-hovered': hovered}" [checked]="checked" [disabled]="disabled" />
        <span></span>
    </div>
    <div class="small-2 columns" *ngIf="showIcon()">
        <img class="has-icon" (click)="toggle()" (mouseover)="toggleHover()" (mouseout)="toggleHover()" [ngClass]="{'disabled': disabled}" [src]=icon>
    </div>
    <div class="columns" *ngIf="showLabel()">
        <label class="has-label" (click)="toggle()" (mouseover)="toggleHover()" (mouseout)="toggleHover()" [ngClass]="{'disabled': disabled}">{{ label }}</label>
    </div>
</div>