.checkbox-label {
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 14px;
    color: rgba(184, 186, 191, 1);
    vertical-align: middle;
    margin-left: 8px;  
    float: left;
}

.disabled {
    opacity: 0.3;
}

.checkbox {
    padding-top: 5px;
    float: left;
}