<div class="checkbox-container">
    <div class="checkbox">
        <input type="checkbox" [ngClass]="{'is-hovered': hovered}" [checked]="checked" [disabled]="disabled" />
         <!-- JEFF_TODO Do we really need this extra span barnacle? Can we change the style and the instances to remove it since I see no value in it, other than UPro had originally required it -->
        <span></span>
    </div>
    <div *ngIf="showIcon()">
        <img class="has-icon" (click)="toggle()" (mouseover)="toggleHover()" (mouseout)="toggleHover()" [ngClass]="{'disabled': disabled}" [src]=icon>
    </div>
    <div *ngIf="showLabel()">
        <label (click)="toggle()" (mouseover)="toggleHover()" (mouseout)="toggleHover()" [ngClass]="{'disabled': disabled}">{{ label }}</label>
    </div>
    <div [ngClass]="{'disabled': disabled, 'has-error': errors}" (mouseover)="toggleHover()" (mouseout)="toggleHover()">
    </div>
</div>