<div class="tabs-panel is-active">
	<div class="content-container">
		<div class="row align-center">
			<div class="columns small-2">
				<alloy-dropdown [(ngModel)]="selectedOption" [placeholder]="'Select one'">
					 <alloy-option *ngFor="let mood of modules" [value]="mood.value">
					    {{ mood.name }}
					  </alloy-option>
				</alloy-dropdown>
			</div>
			<div class="columns small-2">
				<div>
					Selected value:<br>
					<code>'{{selectedOption}}'</code>
				</div>
			</div>
			<div class="columns small-8">
				<pre ngNonBindable>
&lt;alloy-dropdown [(ngModel)]=&quot;selectedOption&quot;&gt;
    &lt;alloy-option *ngFor=&quot;let mood of modules&quot; [value]=&quot;mood.value&quot;&gt;
        {{ mood.name }}
    &lt;/alloy-option&gt;
&lt;/alloy-dropdown&gt;
				</pre>
			</div>
		</div>
<!-- 		<div class="row align-center">
			<div class="columns small-3">
				<h5 class="style-guide-label">Dropdown</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown button-standard" data-toggle="dropdown">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom is-open">
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
				<h5 class="style-guide-label">Dropdown Hover</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown button-standard is-hovered" data-toggle="dropdown-hovered">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom" data-dropdown>
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
				<h5 class="style-guide-label">Dropdown Active</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown button-standard is-pressed" data-toggle="dropdown-active">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom is-open" data-dropdown>
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="columns small-3">
				<h5 class="style-guide-label">Lightweight Dropdown</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown lightweight" data-toggle="dropdown-lightweight">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom" data-dropdown>
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
				<h5 class="style-guide-label">Lightweight Dropdown Hover</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown lightweight is-hovered" data-toggle="dropdown-lightweight-hovered">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom" data-dropdown>
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
				<h5 class="style-guide-label">Lightweight Dropdown Active</h5>
				<div class="dropdown-group">
					<button type="button" class="dropdown lightweight is-pressed" data-toggle="dropdown-lightweight-active">
					<label>Select one</label>
					</button>
					<div class="dropdown-pane bottom is-open" data-dropdown>
						<ul class="menu vertical">
							<li><a href="#">List Item 1</a></li>
							<li class="is-hovered"><a href="#">List Item 2</a></li>
							<li><a href="#">List Item 3</a></li>
							<li><a href="#">List Item 4</a></li>
							<li class="has-icon"><a href="#"><i class="check"></i>List Item 5</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>