<div class="dropdown-group"
    [ngClass]="{'disabled': disabled, 'readonly': readonly}">

    <!-- JEFF_TODO Why do we have this mixed approach for styling? Some ng classes being set, some properties being set, some ngif to show/hide things?-->

    <button cdk-overlay-origin
        type="button"
        [ngClass]="{'lightweight': !alternate_style,
                    'button-standard': alternate_style,
                    'is-open': panelOpen
                    }"
                    class="dropdown"
                    (click)="toggle()"
                    #origin="cdkOverlayOrigin"
                    #trigger>
            <label  [ngClass]="{'isSelected': multipleSelected }" *ngIf="!icon">{{placeholder}}</label>
            <div *ngIf="icon && isIconClass" class="{{ icon }}"></div>
            <img *ngIf="icon && !isIconClass" src="{{ icon }}" >
    </button>
</div>
<ng-template
    cdk-connected-overlay
    hasBackdrop
    backdropClass="cdk-overlay-transparent-backdrop"
    [origin]="origin"
    [open]="panelOpen"
    [positions]="_positions"
    [minWidth]="_triggerRect?.width"
    [offsetY]="_offsetY"
    (backdropClick)="close()"
    (attach)="_onAttached()"
    (detach)="close()">

    <!-- In support of the error state ... we show a red X icon to the right with an error message tooltip-->
    <div [ngClass]="{'has-error': errors}" data-tooltip data-disable-hover="false" title="{{errorMessage}}"></div>

    <div
        #panel
        class="dropdown-pane bottom"
        [ngClass]="{'is-open': panelOpen, 'right-align': right_align, 'left-align': !right_align, 'alloy-dropdown-multiple': multiple}"
        [style.transformOrigin]="_transformOrigin"
        [style.max-height] = "_maxPanelHeight">
        <ul class="menu vertical">
            <div *ngIf="filterable" class="search-container">
                <input type="text" class="alloy-input dropdown-filter" placeholder="Search" (keyup)="onFilterKeyUp($event)" #filterInput>
                <span class="alloy-ic-search"></span>
                <li *ngIf="noMatch" class="no-match"><a>No match found!</a></li>
            </div>
            <li *ngIf="selectAllOption">
                <a class="select-all-option" (click)="onSelectAll()">
                    <div class="checkbox">
                        <input #checkbox [checked]="isSelectAll" type="checkbox"/>
                        <span></span>
                    </div>
                    {{selectAllLabel}}
                </a>
            </li>
            <ng-content></ng-content>
        </ul>
    </div>
</ng-template>