<div class="dropdown-group"
    [ngClass]="{'disabled': disabled, 'readonly': readonly}">

    <!-- JEFF_TODO Why do we have this mixed approach for styling? Some ng classes being set, some properties being set, some ngif to show/hide things?-->

    <button
        type="button"
        [ngClass]="{'lightweight': !alternate_style,
                    'button-standard': alternate_style,
                    'is-open': panelOpen
                    }"
                    class="dropdown"
                    (click)="toggle()"
                    #trigger>
            <label *ngIf="!icon">{{placeholder}}</label>
            <div *ngIf="icon && isIconClass" class="{{ icon }}"></div>
            <img *ngIf="icon && !isIconClass" src="{{ icon }}" >
    </button>


    <!-- In support of the error state ... we show a red X icon to the right with an error message tooltip-->
    <div [ngClass]="{'has-error': errors}" data-tooltip data-disable-hover="false" title="{{errorMessage}}"></div>

    <!-- The drop down pane - this is absolute positioned relative to the overall dropdown-group. See the style for more detail-->
    <div 
        class="dropdown-pane bottom" 
        [ngClass]="{'is-open': panelOpen, 'right-align': right_align, 'left-align': !right_align}"
        [style.transform]="_transformPanelY">
        <ul class="menu vertical">
            <div *ngIf="filterable" class="search-container">
                <input type="text" class="alloy-input dropdown-filter" placeholder="Search" (keyup)="onFilterKeyUp($event)" #filterInput>
                <span class="alloy-ic-mag-glass"></span>
                <li *ngIf="noMatch" class="no-match"><a>No match found!</a></li>
            </div>
            <ng-content></ng-content>
        </ul>
    </div>
</div>