<div class="tabs-panel is-active">

  <div class="content-container">
    <div class="row align-center">
      <div class="columns small-12">
        <h3>Button</h3>
        <hr class="row stretch">
        <h6>
          <b>
            <span style="color: lightblue">&lt;{{element}}</span>
            <span style="color: orange">{{attribute}}</span>
          </b>
          <span *ngIf="showToggle" style="color: magenta">toggle</span>
          <span *ngIf="showLabel" style="color: mediumslateblue">[alloyLabel]="string"</span>
          <span *ngIf="showIcon" style="color: mediumslateblue">[alloyIcon]="className"</span>
          <span *ngIf="showFlip" style="color: mediumslateblue">alloyFlip</span>
          <span *ngIf="showDisabled" style="color: lightseagreen">[disabled]="boolean"</span>
          <span *ngIf="showToggle" style="color: magenta">(toggle)=$event[boolean]</span>
          &gt;&lt;/button&gt;
        </h6>
        <hr class="row stretch">
        <button alloy toggle (toggle)="showDisabled=$event">Disable Buttons</button> <!--standard is default (implied here)-->
      </div>
    </div>

    <!-- Standard Button -->
    <div class="content-container">
      <div class="row align-center">
        <div class="columns small-12">
          <h3>Standard</h3>
          <br>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns">
          <button alloy standard alloyLabel="Simple" [disabled]="showDisabled" (click)="onClick($event)"></button>
          <button alloy standard alloyLabel="Simple" alloyIcon="alloy-ic-user-profile" [disabled]="showDisabled" (click)="onClick($event)"></button>
          <button alloy standard alloyLabel="Back" alloyIcon="alloy-ic-caret left" [disabled]="showDisabled" (click)="onClick($event)"></button>
          <button alloy standard alloyLabel="Select" alloyIcon="alloy-ic-caret right" alloyFlip [disabled]="showDisabled" (click)="onClick($event)"></button>
        </div>
      </div>
    </div>

    <!-- Default Button -->
    <div class="content-container">
      <div class="row align-center">
        <div class="columns">
          <h3>Default</h3>
          <button alloy default alloyLabel="Simple" [disabled]="showDisabled" (click)="onClick($event)"></button>
        </div>
      </div>
    </div>

    <!-- Toolbar Button -->
    <div class="content-container">
      <div class="row align-center">
        <div class="columns small-12">
          <h3>Toolbar</h3>
          <br>
        </div>
      </div>
      <div class="row align-center">
        <div class="columns">
          <button alloy toolbar alloyIcon='alloy-ic-home' (click)="onClick($event)" [disabled]="showDisabled"></button>
          <button alloy toolbar toggle alloyIcon='alloy-ic-rf-emitting' alloyLabel="Toggle" (click)="onClick($event)" [disabled]="showDisabled"></button>
          <button alloy toolbar toggle alloyIcon='alloy-ic-rf-emitting' (click)="onClick($event)" [disabled]="showDisabled"></button>
        </div>
      </div>
    </div>

    <!-- Quick Access Button -->
    <div class="content-container">
      <div class="row align-center">
        <div class="columns small-12">
          <h3>Quick Access</h3>
          <br>
        </div>
      </div>
      <div class="row align-center align-middle">
        <div class="columns">
          <button alloy quickaccess alloyIcon="alloy-ic-user-profile" [disabled]="showDisabled" (click)="onClick($event)"></button>
          <div class="quick-access-group-box">
            <button alloy quickaccess alloyIcon="alloy-ic-play" [disabled]="showDisabled" (click)="onClick($event)"></button>
            <button alloy quickaccess alloyIcon="alloy-ic-stop" [disabled]="showDisabled" (click)="onClick($event)"></button>
          </div>
        </div>
      </div>
    </div>

    <!-- Toggle Button -->
    <div class="content-container">
      <div class="row align-center">
        <div class="columns small-12">
          <h3>Toggle</h3>
          <br>
        </div>
      </div>
      <div class="row align-middle">
        <button alloy standard toggle alloyLabel="12" (click)="onClick($event)" [disabled]="showDisabled"></button>
        <button alloy standard toggle alloyIcon="alloy-ic-save-as" (click)="onClick($event)" [disabled]="showDisabled"></button>
        <button alloy standard toggle alloyLabel="Mix it up" alloyIcon="alloy-ic-save-as" (click)="onClick($event)" [disabled]="showDisabled"></button>
      </div>
    </div>
  </div>
