aside {
  &.grid {
    padding: 16px;

    .property-header {
      margin: 0 0 16px;
    }

    .search-container {
      position: relative;

      margin-bottom: 8px;

      .grid-search {
        max-width: calc(100% - 50px);

        margin: 0 0 0 auto;
      }

      .mag-glass {
        position: absolute;
        top: 7px; right: 10px;
      }
    }

    ul.tree-view {
      padding-left: 0;

      li {
        line-height: 23px;

        a {
          height: 24px;

          padding: 5px 8px 4px;

          font-size: 13px;
        }
      }

      .list-properties,
      .editable-properties {
        display: inline-block;
        width: 50%;

        padding: 0;
      }

      .editable-properties {
        min-width: 40%;

        li {
          padding-left: 8px;

          input[type="text"] {
            max-width: calc(100% - 32px);
            height: 22px;

            padding: 3px 0 3px 8px;

            font-size: 13px;
          }

          .button-standard {
            min-width: 19px;
            min-height: 22px;

            margin-left: 4px;
            padding: 3px;
          }

          .input-group {
            margin: 1px 0 1px 8px;
          }

          .combo-box {
            .input-group-field {
              max-width: calc(100% - 36px);
            }

            .dropdown-combo {
              height: 22px;

              padding: 3px 8px;
            }
          }

          .checkbox {
            margin-left: 8px;
          }
        }
      }
    }

    .property {
      padding: 16px 0;
    }
  }
}