<div class="tabs-panel is-active">
    <!-- Simple Checkbox -->
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Simple Checkbox</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns">
                <alloy-checkbox [label]="placeholder" [disabled]="disabledSimple" [checked]="checkedSimple">
                </alloy-checkbox>
            </div>
            <div class="columns">
                <div>
                    <h6>Checkbox States</h6>
                    <div>
                        <button id="checked" type="button" class="button-standard" (click)="toggleCheckedSimple()" [ngClass]="{'is-pressed': checkedSimple}">Checked</button>
                        <button id="disabled" type="button" class="button-standard" (click)="toggleDisabledSimple()" [ngClass]="{'is-pressed': disabledSimple}">Disabled</button>
                    </div>
                </div>
            </div>
            <div class="columns small-7">
                <pre ngNonBindable>
&lt;alloy-checkbox [label]=&quot;placeholder&quot; [disabled]=&quot;disabled&quot; 
    [checked]=&quot;checked&quot;&gt;
&lt;/alloy-checkbox&gt;
                </pre>
            </div>
            <div class="row align-center">
                <div class="columns small-4">
                </div>
                <div class="columns small-8">
                </div>
            </div>
        </div>
    </div>
    <!-- Icon Checkbox -->
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Icon Checkbox</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns">
                <alloy-checkbox [disabled]="disabledIcon" [checked]="checkedIcon" [icon]="iconSrc">
                </alloy-checkbox>
            </div>
            <div class="columns">
                <div>
                    <h6>Checkbox States</h6>
                    <div>
                        <button id="checked" type="button" class="button-standard" (click)="toggleCheckedIcon()" [ngClass]="{'is-pressed': checkedIcon}">Checked</button>
                        <button id="disabled" type="button" class="button-standard" (click)="toggleDisabledIcon()" [ngClass]="{'is-pressed': disabledIcon}">Disabled</button>
                    </div>
                </div>
            </div>
            <div class="columns small-7">
                <pre ngNonBindable>
    &lt;alloy-checkbox [icon]=&quot;iconSrc&quot; [disabled]=&quot;disabled&quot; 
        [checked]=&quot;checked&quot;&gt;
    &lt;/alloy-checkbox&gt;
                    </pre>
            </div>
            <div class="row align-center">
                <div class="columns small-4">
                </div>
                <div class="columns small-8">
                </div>
            </div>
        </div>
    </div>
    <!-- Mixed Checkbox -->
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Mixed Checkbox</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns">
                <alloy-checkbox [label]="placeholder" [icon]="iconSrc" [disabled]="disabledMixed" [checked]="checkedMixed">
                </alloy-checkbox>
            </div>
            <div class="columns">
                <div>
                    <h6>Checkbox States</h6>
                    <div>
                        <button id="checked" type="button" class="button-standard" (click)="toggleCheckedMixed()" [ngClass]="{'is-pressed': checkedMixed}">Checked</button>
                        <button id="disabled" type="button" class="button-standard" (click)="toggleDisabledMixed()" [ngClass]="{'is-pressed': disabledMixed}">Disabled</button>
                    </div>
                </div>
            </div>
            <div class="columns small-7">
                <pre ngNonBindable>
&lt;alloy-checkbox [label]=&quot;placeholder&quot; [icon]=&quot;iconSrc&quot; [disabled]=&quot;disabled&quot; 
    [checked]=&quot;checked&quot;&gt;
&lt;/alloy-checkbox&gt;
                </pre>
            </div>
            <div class="row align-center">
                <div class="columns small-4">
                </div>
                <div class="columns small-8">
                </div>
            </div>
        </div>
    </div>
</div>