<div class="tabs-panel is-active">
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Checkbox</h3>
                <button id="checked" type="button" class="button-standard" (click)="toggleChecked()" [ngClass]="{'is-pressed': checked}">Checked</button>
                <button id="disabled" type="button" class="button-standard" (click)="toggleDisabled()" [ngClass]="{'is-pressed': disabled}">Disabled</button>
                <button id="readonly" type="button" class="button-standard" (click)="toggleReadonly()" [ngClass]="{'is-pressed': readonly}">Readonly</button>
                <button id="errors" type="button" class="button-standard" (click)="toggleError()" [ngClass]="{'is-pressed': error}">Error</button>
                <label>Checkbox Size (px):</label><input type="text" alloy [(ngModel)]="size" (keypress)="isNumberKey($event)" (focus)="addSizeStyle()" (blur)="removeSizeStyle()" maxlength="2">
                <br>
            </div>
        </div>
        <div class="row">
          <div class="columns small-6">
            <h3>Angular</h3>
            <hr class="row stretch">
            <h6>
                &lt;<span style="color: lightblue">input type="<span style="color: lightgreen">checkbox</span>"</span> <b><span style="color: orange">alloy</span></b><br>&nbsp;&nbsp;
                [label]="string"<br>&nbsp;&nbsp;
                [icon]="className (preferred)"<br>&nbsp;&nbsp;
                [image]="sourceString"<br>&nbsp;&nbsp;
                <span [ngStyle]=" {'color': disabledStyle} ">[disabled]="boolean"</span><br>&nbsp;&nbsp;
                <span [ngStyle]=" {'color': checkedStyle} ">[checked]="boolean"</span><br>&nbsp;&nbsp;
                <span [ngStyle]=" {'color': readonlyStyle} ">[readonly]="boolean"</span><br>&nbsp;&nbsp;
                <span [ngStyle]=" {'color': sizeStyle} ">[size]="number"</span><br>&nbsp;&nbsp;
                <span [ngStyle]=" {'color': errorStyle} ">[error]="boolean" [errorMessage]="string"</span>&gt;
            </h6>
          </div>
        </div>
    </div>
        <!-- New Bare Checkbox -->
        <div class="content-container">
          <div class="row align-center">
              <div class="columns small-12">
                  <h5>New Bare Checkbox</h5>
              </div>
          </div>
          <div class="row align-center">
              <div class="columns">
                  <input type="checkbox" alloy
                    [size]="size"
                    [disabled]="disabled"
                    [checked]="checkedSimple"
                    [readonly]="readonly"
                    [error]="error"
                    [errorMessage]="errorMessage"/>
              </div>
          </div>
      </div>
        <!-- New Checkbox -->
        <div class="content-container">
          <div class="row align-center">
              <div class="columns small-12">
                  <h5>New Checkbox ([label]="string")</h5>
              </div>
          </div>
          <div class="row align-center">
              <div class="columns">
                  <input type="checkbox" alloy
                    [size]="size"
                    [disabled]="disabled"
                    [checked]="checkedLabel"
                    [readonly]="readonly"
                    label="Checkbox"
                    [error]="error"
                    [errorMessage]="errorMessage">
              </div>
          </div>
      </div>
      <!-- New Icon Checkbox -->
      <div class="content-container">
          <div class="row align-center">
              <div class="columns small-12">
                  <h5>New Icon Checkbox ([icon]="className")</h5>
              </div>
          </div>
          <div class="row align-center">
              <div class="columns">
                  <input type="checkbox" alloy
                    [size]="size"
                    [disabled]="disabled"
                    [checked]="checkedIcon"
                    [readonly]="readonly"
                    icon="alloy-ic-user-profile"
                    [error]="error"
                    [errorMessage]="errorMessage">
              </div>
          </div>
      </div>
          <!-- New Mixed Checkbox -->
    <div class="content-container">
      <div class="row align-center">
          <div class="columns small-12">
              <h5>New Mixed Checkbox</h5>
          </div>
      </div>
      <div class="row align-center">
          <div class="columns">
            <input type="checkbox" alloy
              [size]="size"
              [disabled]="disabled"
              [checked]="checkedMixed"
              [readonly]="readonly"
              icon="alloy-ic-user-profile"
              label="Mix it up!"
              [error]="error"
              [errorMessage]="errorMessage">
          </div>
      </div>
  </div>

</div>
