@import '../scss/components/_progress.scss';

//TODO: AJM: Ideally the following would be in scss alongside the components, but our scss is not designed for that

// Edit these to define the style characteristics
$icon-size: 32px;
$small-size: 50px;
$medium-size: 100px;
$large-size: 200px;

// icon-size requires much smaller balls
$icon-balls: 5;
$small-balls: 5;
$medium-balls: 8;
$large-balls: 8;

// TODO: AJM: Ideally I'd like to export these values to ts so we can make all edits here, punting for now
// :export {
//     iconBalls: $icon-balls;
//     smallBalls: $small-balls;
//     mediumBalls: $medium-balls;
//     largeBalls: $large-balls;
// }

@include alloy-progress-ring($name:"icon",      $size: $icon-size,      $balls: $icon-balls);
@include alloy-progress-ring($name:"small",     $size: $small-size,     $balls: $small-balls);
@include alloy-progress-ring($name:"medium",    $size: $medium-size,    $balls: $medium-balls);
@include alloy-progress-ring($name:"large",     $size: $large-size,     $balls: $large-balls);
