<div class="row align-middle">
  <hr class="column stretch">
  <h4 class="column shrink">Radio Button Verification</h4>
  <hr class="column stretch">
</div>
<div class="row align-middle">
  <hr class="column shrink">
  <label class="column shrink">Traditional Width</label>
  <hr class="column stretch">
</div>
<div style="max-width: 75rem; margin: auto;">  <!-- match foundation page width-->
  <input type="radio" alloy alloyLabel="default">
  <input type="radio" alloy alloyLabel="width: 100px"  style="width: 100px;">
  <input type="radio" alloy alloyLabel="width: auto" style="width: auto;">
  <input type="radio" alloy alloyLabel="size=30" size="30">
  <input type="radio" alloy alloyLabel="width: 100%" style="width: 100%">
  <input type="radio" alloy alloyLabel="width: 50%"  style="width: 50%">
</div>
<div class="row align-middle">
  <hr class="column shrink">
  <label class="columns shrink title">Foundation: Width (Note: Foundation overrides)</label>
  <label class="column shrink border">row</label>
  <label class="column shrink cell">cell</label>
  <hr class="column stretch">
</div>
<div class="row align-middle border">
  <input type="text" alloy class="column cell" value="default" readonly="true">
  <input type="text" alloy class="column cell" value="width: auto" style="width: auto;" readonly="true">
  <input type="text" alloy class="column cell" value="width: 100px" style="width: 100px;" readonly="true">
  <input type="text" alloy class="column cell" value="width: 50%" style="width: 50%" readonly="true">
  <input type="text" alloy class="column cell" value="width: 100%" style="width: 100%;" readonly="true">
</div>
<div class="row align-middle border">
  <input type="radio" alloy class="column cell" alloyLabel="default">
  <input type="radio" alloy class="column cell" alloyLabel="width: auto" style="width: auto;">
  <input type="radio" alloy class="column cell" alloyLabel="width: 100px" style="width: 100px;">
  <input type="radio" alloy class="column cell" alloyLabel="width: 50%" style="width: 50%">
  <input type="radio" alloy class="column cell" alloyLabel="width: 100%" style="width: 100%;">
</div>
<div class="row align-middle">
  <hr class="column shrink">
  <label class="columns shrink title">Foundation: Height</label>
  <hr class="column stretch">
</div>
<div class="row align-middle border">
  <input type="text" alloy class="column cell" value="default (32)" readonly="true">
  <input type="radio" alloy class="column cell" alloyLabel="default (32)">
</div>
<div class="row align-middle border">
  <input type="text" alloy class="column cell" value="height: auto" style="height: auto;" readonly="true">
  <input type="radio" alloy class="column cell" alloyLabel="height: auto" style="height: auto;">
</div>
<div class="row align-middle border">
  <input type="text" alloy class="column cell" value="height: 40px" style="height: 40px;" readonly="true">
  <input type="radio" alloy class="column cell" alloyLabel="height: 40px (not a current use-case, but needs discussion)" style="height: 40px;">
</div>
<div class="row align-middle">
  <hr class="column shrink">
  <label class="column shrink title">Foundation: Margin (Note: padding isn't particularly useful)</label>
  <hr class="column stretch">
</div>
<div class="row align-middle border">
  <!-- Rows -->
  <input type="text" alloy class="column cell small-2" value="m-top: 10px" style="margin-top: 10px" readonly="true">
  <input type="radio" alloy class="column cell small-2" alloyLabel="m-top: 10px" style="margin-top: 10px">
  <input type="text" alloy class="column cell small-2" value="m-bottom: 10px" style="margin-bottom: 10px" readonly="true">
  <input type="radio" alloy class="column cell small-2" alloyLabel="m-bottom: 10px" style="margin-bottom: 10px">
</div>
<!-- Columns -->
<div class="row align-middle border">
  <input type="text" alloy class="column cell small-2" value="m-left: 10px, small-2" style="margin-left: 10px;" readonly="true">
</div>
<div class="row align-middle border">
  <input type="radio" alloy class="column cell small-2" alloyLabel="m-left: 10px, small-2" style="margin-left: 10px;">
</div>
<div class="row align-middle border">
  <input type="text" alloy class="column cell small-2" value="m-right: 10px, small-2" style="margin-right: 10px;" readonly="true">
</div>
<div class="row align-middle border">
  <input type="radio" alloy class="column cell small-2" alloyLabel="m-right: 10px, small-2" style="margin-right: 10px;">
</div>
