@import '../sass-image';

// Flags
$theme-light:           false;

// BEGIN: Standard color palette: Caranu spec pg. 17

// Gray scale colors
$french-gray:           #B8BABF;
$mountain-mist:         #919499;
$paynes-gray:           #424347;
$shark:                 #34343B;
$jaguar:                #2A2A30;
$black-russian:         #25252B;
$dark-jungle:           #1B1B1F;

//Typically semi-transparent colors
$glitter:               #E5EEFF;

// Blue colors
$cornflower-blue:       #4C8EFF;
$jacksons-purple:       #2E4585;

// END: Standard color palette: Caranu spec pg. 17

//Opacity: Variables for opacity straight out of the Caranu spec. Those opacity values used heavily enough in the Dark skin to warrant their own variables. Tired of doing hex/decimal conversion.
$opacity-HEX99:          0.60;         
$opacity-HEX7F:          0.50;         
$opacity-HEX66:          0.40;         
$opacity-HEX4C:          0.30;         
$opacity-HEX3F:          0.25;         
$opacity-HEX33:          0.20;         
$opacity-HEX28:          0.16;         
$opacity-HEX19:          0.10;         
$opacity-HEX14:          0.08;         
$opacity-HEX0F:          0.06;         
$opacity-HEX07:          0.03;         

body {
	background:	    $dark-jungle;
	color:	            $french-gray;
}

$color-palette: (
        primary-lightest:                         $french-gray,
        primary-lighter:                          $mountain-mist,
        primary-light:                            $paynes-gray,
        primary:                                  $shark,
        primary-dark:                             $jaguar,
        primary-darker:                           $black-russian,
        primary-darkest:                          $dark-jungle,

        secondary:                                $cornflower-blue,
        secondary-dark:                           $jacksons-purple,

        // Containers
        header-bg:                                $paynes-gray,
        header-text:                              $white,
        section-bg:                               $french-gray,

        // Windows
        window-bg:                                $dark-jungle,                         //Caranu spec. pg. 34 FILL = #FF1B1B1F NOTE: An app main window does not have the blue border. Only if it has MDI windows would the "active" window get the blue border
        window-border:                            rgba($glitter,$opacity-HEX28),        //Caranu spec. pg. 34 BORDER = #28E5EEFF
        window-box-shadow:                        rgba($black,$opacity-HEX7F),          //JEFF_TODO: There are no class/styles for windows. When they are created use this var for the shadow. Caranu spec. pg. 34 Shadow = v-offset 1px, blur 8px, #7F000000
                                                                                        //Example of how to use this box shadow var as a value of the box-shadow property until we get a full window style made
                                                                                        //box-shadow: 0 2px 8px 0 map_get($color-palette,  window-box-shadow);

        // Title Bar
        title-bar-gradient-top:                   $jaguar,
        title-bar-gradient-bottom:                $black-russian,
        title-bar-border-bottom:                  rgba($black,$opacity-HEX99),
        title-bar-box-shadow:                     rgba($black,$opacity-HEX7F),          //JEFF_REVIEW: not sure why this one was originally set to .45 opacity. Caranu spec pg. 47 clearly calls for the box shadow to be #7F opacity which is .50
        text-title-color:                         $white,
        button-close-x-hover-bg:                  #E03030,
        button-close-x-active-bg:                 #541313,
        button-close-x-active-box-shadow:         #2B0A0A,
        button-min-max-hover-bg:                  rgba($glitter,$opacity-HEX14),
        button-min-max-active-bg:                 rgba($black,$opacity-HEX19),                    
        button-min-max-active-box-shadow:         rgba($black,$opacity-HEX4C),

        // Menus
        menu-title-color:                         $french-gray,
        menu-title-hover-bg:                      rgba($glitter,$opacity-HEX14),
        menu-title-active-bg:                     $jaguar,
        menu-border-active:                       rgba($black,$opacity-HEX4C),
        menu-border-inset-active:                 rgba($white,$opacity-HEX14),
        menu-shadow-active:                       rgba($black,$opacity-HEX7F),
        menu-shadow-inset-active:                 rgba($white,$opacity-HEX14),
        menu-text-active-color:                   $white,
        menu-text-color:                          $white,
        menu-divider-color:                       $black,
        menu-hover-bg:                            rgba($glitter,$opacity-HEX14),
        menu-active-bg:                           $cornflower-blue,

        // Tabs
        tab-bar-bg:                               $jaguar,
        tab-bar-border:                           rgba($black,$opacity-HEX66),
        tab-bar-shadow:                           rgba($white,$opacity-HEX14),
        tab-bg-hover:                             rgba($glitter,$opacity-HEX14),
        tab-text-color-hover:                     $french-gray,
        tab-text-color-active:                    $white,
        // -- Nav Tabs
        nav-tab-title-active-gradient-top:        #48484F,                            //infrequently used one off (non standard) color; usually for active tab states
        nav-tab-title-active-gradient-bottom:     #414147,                            //infrequently used one off (non standard) color; usually for active tab states
        nav-tab-border-active:                    rgba($black,$opacity-HEX99),
        nav-tab-bar-gradient-top:                 #414147,                            //infrequently used one off (non standard) color; usually for active tab states
        nav-tab-bar-gradient-bottom:              #3B3B41,                            //infrequently used one off (non standard) color; usually for active tab states
        nav-tab-text-color:                       $white,
        nav-tab-with-icon-text-color:             $french-gray,
        nav-tab-with-icon-text-color-active:      $white,

        // Toolbar
        toolbar-shadow-inset-top:                 rgba($white,$opacity-HEX14),
        toolbar-shadow-inset-bottom:              rgba($black,$opacity-HEX4C),
        toolbar-shadow:                           rgba($black,$opacity-HEX7F),
        toolbar-group-separator:                  rgba($black,$opacity-HEX66),
        button-toolbar-label-color:               $white,
        button-toolbar-hover-bg:                  rgba($glitter,$opacity-HEX14),
        button-toolbar-focus-bg:                  rgba($black,$opacity-HEX19),                    
        button-toolbar-focus-border:              rgba($black,$opacity-HEX4C),
        button-split-group-hover-bg:              rgba($glitter,0.05),                  //Caranu spec pg. 45 is the only spot that has this 0.05/#0C opacity. Let's consider it a one off and not promote it to a var for undo attention. 
        button-split-group-divider:               rgba($white,$opacity-HEX28),

        // Quick Access Toolbar
        button-quick-access-hover-bg:             rgba($glitter,$opacity-HEX14),
        button-quick-access-active-border:        rgba($black,$opacity-HEX19),                     
        button-quick-access-active-bg:            rgba($black,$opacity-HEX4C),
        button-group-box-border:                  rgba($glitter,$opacity-HEX28),
        button-group-box-bg:                      rgba($black,$opacity-HEX19),                    

        // Buttons
        // -- Standard
        button-standard-color:                    $white,
        button-standard-gradient-top:             $shark,
        button-standard-gradient-bottom:          $jaguar,
        button-standard-shadow-inset:             rgba($white,$opacity-HEX14),
        button-standard-shadow:                   rgba($black,$opacity-HEX3F),
        button-standard-hover-gradient-top:       #3F3F46,                           //infrequently used one off (non standard) color; usually for control hover states
        button-standard-hover-gradient-bottom:    #36373D,                           //infrequently used one off (non standard) color; usually for control hover states
        button-standard-hover-shadow-inset:       rgba($white,$opacity-HEX28),
        button-standard-pressed-bg:               $cornflower-blue,
        button-standard-pressed-color:            $white,
        button-standard-active-bg:                $jacksons-purple,
        button-standard-active-shadow-inset:      rgba($white,$opacity-HEX28),
        button-standard-disabled-opacity:         0.3,                                  //leave disabled opacity in decimal since the Caranu spec does    
        button-standard-disabled-text-color:      $white,
        // -- Default
        button-default-border-inset:              rgba($cornflower-blue,$opacity-HEX7F),
        button-default-shadow-inset:              rgba($cornflower-blue,$opacity-HEX7F),
        button-default-hover-border-inset:        rgba($cornflower-blue,$opacity-HEX14),
        button-default-hover-shadow-inset:        rgba($white,$opacity-HEX28),
        // -- Dropdown
        button-dropdown-color:                    $white,
        // -- Dropdown Lightweight
        button-dropdown-lightweight-color:        $french-gray,
        button-dropdown-lightweight-color-hover:  $white,
        button-dropdown-lightweight-color-active: $cornflower-blue,

        // Input
        input-text-border:                        rgba($glitter,$opacity-HEX4C),
        input-text-bg:                            rgba($black,$opacity-HEX33),
        input-text-color:                         $white,
        input-text-border-hover:                  $mountain-mist,
        input-text-border-active:                 $cornflower-blue,
        input-text-bg-active:                     rgba(#212733,$opacity-HEX99),         //JEFF_TODO: according to Caranu spec this color should be applied to this the background of a focus/active textbox (pg. 22) but also to the background of the active combobox (pg. 23)
        input-text-bg-error:                      #2B0A0A,
        input-text-border-error:                  #E03030,
        input-text-highlight-bg:                  $jacksons-purple,
        input-text-disabled-opacity:              0.3,                                    //leave disabled opacity in decimal since the Caranu spec does    
        input-text-disabled-color:                $white,
        // -- Radios
        radio-border:                             $french-gray,
        radio-border-hover:                       $white,
        radio-checked-bg:                         $cornflower-blue,
        radio-disabled:                           rgba($mountain-mist,$opacity-HEX4C),
        // -- Switch
        switch-border:                            $french-gray,
        switch-bg:                                rgba($black,$opacity-HEX33),
        switch-thumb-bg:                          $mountain-mist,
        switch-border-hover:                      $white,
        switch-border-checked:                    $cornflower-blue,
        switch-bg-checked:                        $cornflower-blue,
        switch-thumb-checked-bg:                  $white,
        switch-disabled-opacity:                  0.3,                                   //leave disabled opacity in decimal since the Caranu spec does    
        // -- Combo box
        button-dropdown-combo-bg:                 rgba($black,$opacity-HEX33),
        button-dropdown-combo-bg-hover:           rgba($glitter,$opacity-HEX14),
        button-dropdown-combo-border:             rgba($glitter,$opacity-HEX4C),
        button-dropdown-combo-border-hover:       $mountain-mist,
        // -- Spin
        button-spin-gradient-top:                 $shark,
        button-spin-gradient-bottom:              $jaguar,
        button-spin-border:                       rgba($glitter,$opacity-HEX4C),
        button-spin-gradient-top-hover:           #3F3F46,                            //infrequently used one off (non standard) color; usually for control hover states
        button-spin-gradient-bottom-hover:        #36373D,                            //infrequently used one off (non standard) color; usually for control hover states
        button-spin-bg-active:                    $cornflower-blue,
        button-spin-opacity-disabled:             0.3,                                  //leave disabled opacity in decimal since the Caranu spec does    

        // Tree View
        list-item-color:                          $french-gray,
        list-item-bg-hover:                       rgba($glitter,$opacity-HEX14),
        list-item-bg-focus:                       rgba($glitter,$opacity-HEX28),
        list-item-bg-active:                      $jacksons-purple,

        // Data Grid
        data-grid-border:                         rgba($glitter,$opacity-HEX28),
        data-grid-header-top-gradient:            $jaguar,
        data-grid-header-bottom-gradient:         $black-russian,
        data-grid-color:                          $french-gray,
        data-grid-color-highlighted:              #85C2FF,                           //Caranu spec pg. 31 infrequently used one off (non standard) color; for the blue text of a datagrid row; mean to be distinguishable from the cornflower blue of the selected row behind it
        data-grid-row-bg-hover:                   rgba($glitter,$opacity-HEX14),
        data-grid-row-bg-active:                  $jacksons-purple,
        data-grid-row-stripe-bg:                  rgba($white,$opacity-HEX07),
        data-grid-stripe-border:                  rgba($white,$opacity-HEX0F),

        // Property Panel
        panel-bg:                                 #2D2D33,                           //JEFF_TODO Caranu spec pg. 32 Not a standard color but is supposed to be used in a property panel active tab and container background. Need to figure out why it's not being applied to the active tab 
        panel-tabs-shadow:                        rgba($black,$opacity-HEX66),
        panel-tab-bar-bg:                         $black-russian,
        panel-header-color:                       $white,
        panel-border:                             rgba($black,$opacity-HEX66),
        panel-top-border:                         rgba($white,$opacity-HEX14),
        panel-splitter-bg:                        rgba($glitter,$opacity-HEX28),
        panel-splitter-border:                    rgba($black,$opacity-HEX66),
        panel-splitter-bg-hover:                  rgba($glitter,$opacity-HEX4C),
        panel-splitter-border-hover:              rgba($glitter,$opacity-HEX14),
        panel-separator:                          rgba($glitter,$opacity-HEX28),

        // Property Grid
        grid-title-color:                         $white,
        grid-search-placeholder-color:            $french-gray,
        grid-item-darkened-opacity:               0.3,                                 //leave disabled opacity in decimal since the Caranu spec does    
        propgrid-item-darkened-opacity:           0.6,                                 //JEFF_TODO Need to rename this to reflect a style for read only properties of the property grid. Need to create a separate group for the property grid specific vars.

        // Scrollbars
        scrollbar-track-bg:                       $jaguar,
        scrollbar-track-border:                   rgba($black,$opacity-HEX66),
        scrollbar-thumb-bg:                       rgba($mountain-mist,$opacity-HEX7F),
        scrollbar-thumb-bg-hover:                 $mountain-mist,
        scrollbar-thumb-bg-active:                $white,
        scrollbar-button-bg-hover:                rgba($glitter,$opacity-HEX14),
        scrollbar-button-bg-active:               $cornflower-blue,

        // Styleguide
        style-guide-switch-label-color:           $white,
        style-guide-buttons-bg:                   transparent,
        style-guide-label-color:                  $french-gray,
        style-guide-default-bg:                   #1A1A1E,                           //JEFF_TODO: this color doesn't show up in the Caranu spec at all. Why is it here?
        style-guide-spacer-bg:                    $shark

);

// Images & Icons
// Relative to `./src/images`
$icons:                 "icons";
$dark-icons:            "dark/icons";

$icon-pack: (
        // Title Bar
        logo:                                 inline-image("#{$icons}/logo.png"),
        logo-full:                            inline-image("#{$dark-icons}/logo-full.png"),
        close-x:                              inline-image("#{$icons}/close-x.png"),
        close-x-hover:                        inline-image("#{$icons}/close-x.png"),
        close-x-active:                       inline-image("#{$icons}/close-x.png"),
        maximize:                             inline-image("#{$dark-icons}/maximize.png"),
        minimize:                             inline-image("#{$dark-icons}/minimize.png"),

        // Menus
        ph-menu-box:                          inline-image("#{$dark-icons}/ph-menu-box.png"),

        // Toolbar
        ph-toolbar-box:                       inline-image("#{$dark-icons}/ph-toolbar-box.png"),
        ph-toolbar-box-active:                inline-image("#{$dark-icons}/ph-toolbar-box-active.png"),

        // Dropdowns
        caret-down:                           inline-image("#{$dark-icons}/caret-down.png"),
        caret-down-hover:                     inline-image("#{$dark-icons}/caret-down-hover.png"),
        caret-down-active:                    inline-image("#{$dark-icons}/caret-down-hover.png"),
        caret-down-alt-active:                inline-image("#{$icons}/caret-down-alt-active.png"),

        // Quick Access Toolbar
        folder:                               inline-image("#{$dark-icons}/folder.png"),
        save:                                 inline-image("#{$dark-icons}/save.png"),
        undo:                                 inline-image("#{$dark-icons}/undo.png"),
        redo:                                 inline-image("#{$dark-icons}/redo.png"),
        stop:                                 inline-image("#{$icons}/stop.png"),
        play:                                 inline-image("#{$icons}/play.png"),
        ellipses:                             inline-image("#{$dark-icons}/ellipses.png"),
        download:                             inline-image("#{$dark-icons}/download.png"),
        remove:                               inline-image("#{$dark-icons}/remove.png"),
        target:                               inline-image("#{$dark-icons}/target.png"),
        property:                             inline-image("#{$dark-icons}/property.png"),

        // Input
        error:                                inline-image("#{$icons}/error.png"),
        // -- Checkboxes
        checkbox:                             inline-image("#{$dark-icons}/checkbox.png"),
        checkbox-hover:                       inline-image("#{$dark-icons}/checkbox-hover.png"),
        checkbox-checked:                     inline-image("#{$dark-icons}/checkbox-checked.png"),
        checkbox-disabled:                    inline-image("#{$dark-icons}/checkbox-disabled.png"),
        checkbox-checked-disabled:            inline-image("#{$dark-icons}/checkbox-checked-disabled.png"),
        // -- Radio
        radio:                                inline-image("#{$dark-icons}/radio.png"),
        radio-hover:                          inline-image("#{$dark-icons}/radio-hover.png"),
        radio-checked:                        inline-image("#{$dark-icons}/radio-checked.png"),
        radio-disabled:                       inline-image("#{$dark-icons}/radio-disabled.png"),
        radio-checked-disabled:               inline-image("#{$dark-icons}/radio-checked-disabled.png"),
        // -- Combo Box
        check:                                inline-image("#{$dark-icons}/check.png"),
        // -- Spin Box
        arrow-up:                             inline-image("#{$dark-icons}/arrow-up.png"),
        arrow-up-active:                      inline-image("#{$dark-icons}/arrow-up-active.png"),
        arrow-down:                           inline-image("#{$dark-icons}/arrow-down.png"),
        arrow-down-active:                    inline-image("#{$dark-icons}/arrow-down-active.png"),

        // Property Panels
        panel-splitter-cursor-hover:          inline-image("#{$icons}/splitter-cursor.png"),
        panel-splitter-vertical-cursor-hover: inline-image("#{$icons}/splitter-vertical-cursor.png"),

        // Property Grid
        mag-glass:                            inline-image("#{$dark-icons}/mag-glass.svg"),
        clear:                                inline-image("#{$icons}/clear.svg"),

        // Scrollbar
        scroll-caret-down:                    inline-image("#{$dark-icons}/scroll-caret-down.png"),
        scroll-caret-down-hover:              inline-image("#{$dark-icons}/scroll-caret-down-hover.png"),
        scroll-caret-down-active:             inline-image("#{$dark-icons}/scroll-caret-down-hover.png")

);

@import "../components/_styles";