@import '../sass-image';

// Flags
$theme-light:           true;

// BEGIN: Standard color palette: Caranu spec pg. 59

// Gray scale colors
$catskill-white:        #F1F2F9;
$selago:                #EDEFFA;
$zircon:                #DFE1EB;
$quartz:                #DADDED;
$blue-haze:             #BCBECC;
$french-gray:           #B8BBC2;
$smoky:                 #5E6166;

//Typically semi-transparent colors
$bunting:               #131B40;

// Blue colors
$hawkes-blue:           #D1E0FB;
$cornflower-blue:       #4C8EFF;

// END: Standard color palette: Caranu spec pg. 59

// Not a declared standard color but is pervasively used throughout the light spec. More heavily used than many standard colors. Should probably be considered for promotion to the standard palette.
$hover-blue:            #6C82A8;
$manatee:               #8A93A3;    // Unofficial, but used throughout radio and switch

//Opacity: Variables for opacity straight out of the Caranu spec. Those opacity values used heavily enough in the Light skin to warrant their own variables. Tired of doing hex/decimal conversion.
$opacity-HEXCC:          .80;
$opacity-HEXB2:          .70;
$opacity-HEX99:          .60;
$opacity-HEX7F:          .50;
$opacity-HEX66:          .40;
$opacity-HEX59:          .35;
$opacity-HEX4C:          .30;
$opacity-HEX3F:          .25;
$opacity-HEX33:          .20;
$opacity-HEX2D:          .18;
$opacity-HEX26:          .15;
$opacity-HEX1E:          .12;
$opacity-HEX14:          .08;
$opacity-HEX0F:          .06;
$opacity-HEX0A:          .04;

$opacity-DEC36:          0.36;
$opacity-DEC52:          0.52;
$opacity-DEC60:          0.6;

$color-palette: (
        primary-lightest:                         $catskill-white,
        primary-lighter:                          $selago,
        primary-light:                            $zircon,
        primary:                                  $quartz,
        primary-dark:                             $blue-haze,
        primary-darker:                           $french-gray,
        primary-darkest:                          $smoky,

        secondary:                                $cornflower-blue,
        secondary-dark:                           $hawkes-blue,

        // Expanders
        expander-button-bg-hover:                 rgba($hover-blue,$opacity-HEX1E),

        // Typography (arbitrary)
        // Most controls define/control their own font color/family etc. with their own control specific vars for flexibility. For arbitrary text uses these vars so as not to confuse/mix semantics
        text-color-default:                       $smoky,
        text-color-alternate:                     $black,

        // Containers
        header-bg:                                $blue-haze,
        header-text:                              $black,
        section-bg:                               $selago,

        // Group box
        group-box-border:                         rgba($bunting,$opacity-HEX4C),
        group-box-header-text:                    $black,

        // Windows
        window-bg:                                $white,                         //Caranu spec. pg. 76 FILL = #FFFFFFFF NOTE: An app main window does not have the blue border. Only if it has MDI windows would the "active" window get the blue border
        window-main-bg:                           $blue-haze,                     //Listed on pg. 59 on the spec as the color behind child windows in a main window.
        window-border:                            rgba($glitter,$opacity-HEX4C),  //Caranu spec. pg. 76 BORDER = #4C000000
        window-box-shadow:                        rgba($black,$opacity-HEX3F),    //JEFF_TODO: There are no class/styles for windows. When they are created use this var for the shadow. Caranu spec. pg. 34 Shadow = v-offset 1px, blur 8px, #3F000000
                                                                                  //Example of how to use this box shadow var as a value of the box-shadow property until we get a full window style made                                                                    //box-shadow: 0 2px 8px 0 map_get($color-palette,  window-box-shadow);
        // Title Bar
        title-bar-gradient-top:                   $zircon,
        title-bar-gradient-bottom:                $quartz,
        title-bar-border-bottom:                  rgba($bunting,$opacity-HEX4C),
        title-bar-box-shadow:                     rgba($black,$opacity-HEX2D),
        text-title-color:                         $black,
        button-close-x-hover-bg:                  #E03030,
        button-close-x-active-bg:                 #B02626,
        button-close-x-active-box-shadow:         #5E1414,
        button-min-max-hover-bg:                  rgba($hover-blue,$opacity-HEX1E),
        button-min-max-active-bg:                 rgba($hover-blue,$opacity-HEX1E),
        button-min-max-active-box-shadow:         rgba($bunting,$opacity-HEX33),

        // Menus
        menu-title-color:                         $smoky,
        menu-title-hover-bg:                      rgba($hover-blue,$opacity-HEX1E),
        menu-title-active-bg:                     $selago,
        menu-border-active:                       rgba($bunting,$opacity-HEX4C),
        menu-border-inset-active:                 transparent,
        menu-shadow-active:                       rgba($black,$opacity-HEX4C),
        menu-shadow-inset-active:                 $white,
        menu-text-active-color:                   $black,
        menu-text-color:                          $black,
        menu-divider-color:                       rgba($bunting,$opacity-HEX4C),
        menu-hover-bg:                            rgba($hover-blue,$opacity-HEX33),
        menu-active-bg:                           $cornflower-blue,

        // Tabs
        tab-bar-bg:                               #E6E8F0,
        tab-bar-border:                           rgba($bunting,$opacity-HEX4C),
        tab-bar-shadow:                           $white,
        tab-bg-hover:                             rgba($hover-blue,$opacity-HEX1E),
        tab-text-color-hover:                     $smoky,
        tab-text-color-active:                    $black,
        // -- Nav Tabs
        nav-tab-title-active-gradient-top:        #F5F6FC,
        nav-tab-title-active-gradient-bottom:     $catskill-white,
        nav-tab-border-active:                    rgba($bunting,$opacity-HEX33),
        nav-tab-bar-gradient-top:                 $catskill-white,
        nav-tab-bar-gradient-mid:                 $zircon,
        nav-tab-bar-gradient-bottom:              #D0D1DB,
        nav-tab-text-color:                       $smoky,
        nav-tab-with-icon-text-color:             $smoky,
        nav-tab-with-icon-text-color-active:      $black,

        // Toolbar
        toolbar-shadow-inset-top:                 $white,
        toolbar-shadow-inset-bottom:              rgba($bunting,$opacity-HEX4C),
        toolbar-shadow:                           rgba($black,$opacity-HEX2D),
        toolbar-group-separator:                  rgba($bunting,$opacity-HEX4C),
        button-toolbar-label-color:               $smoky,
        button-toolbar-hover-bg:                  rgba($hover-blue,$opacity-HEX33),
        button-toolbar-active-bg:                 rgba($hover-blue,$opacity-HEX33),
        button-toolbar-active-border:             rgba($bunting,$opacity-HEX33),
        // AJM: Checked states are placeholders until we can toggle icon colors on-the-fly (pg 87)
        button-toolbar-checked-bg:                rgba($hawkes-blue,$opacity-HEX4C),
        button-toolbar-checked-hover-bg:          rgba($hawkes-blue,$opacity-HEX7F),
        button-split-group-hover-bg:              rgba($hover-blue,$opacity-HEX14),
        button-split-group-divider:               rgba($bunting,$opacity-HEX33),

        // Quick Access Toolbar
        button-quick-access-hover-bg:             rgba($hover-blue,$opacity-HEX1E),
        button-quick-access-active-border:        rgba($bunting,$opacity-HEX33),
        button-quick-access-active-bg:            rgba($hover-blue,$opacity-HEX1E),
        button-quick-access-disabled-opacity:     $opacity-DEC52,                       //Since the spec declares this in decimal we will leave it without its own var
        button-quick-access-disabled-text-color:  rgba($black,$opacity-DEC36),          //Since the spec declares this in decimal we will leave it without its own var
        quick-access-group-box-border:            rgba($bunting,$opacity-HEX26),
        quick-acess-group-box-bg:                 rgba($white,$opacity-HEX33),

        // Buttons

        // -- Standard
        button-standard-color:                    $black,
        button-standard-gradient-top:             $selago,
        button-standard-gradient-bottom:          $zircon,
        button-standard-border:                   rgba($black,$opacity-HEX59),          //JEFF_REVIEW: This was .13 decimal. The spec says it should be #59 HEX which equals .35 decimal. So I changed it.
        button-standard-shadow-inset:             rgba($white, $opacity-HEXB2),         // multiple usages of 0.7 was found for shadow, so promoting to own var
        button-standard-shadow:                   rgba($black,$opacity-HEX1E),
        button-standard-hover-gradient-top:       #EDF4FF,
        button-standard-hover-gradient-bottom:    #CDDFFF,
        button-standard-hover-border-inset:       rgba($cornflower-blue,$opacity-HEX4C),
        button-standard-active-bg:                $cornflower-blue,
        button-standard-active-color:             $white,
        button-standard-checked-color:            $black,
        button-standard-checked-bg:               $hawkes-blue,
        button-standard-checked-hover-bg:         #e8f0ff,    // AJM: This is a placeholder, need official toggled hover spec
        button-standard-checked-border-inset:     rgba($black,$opacity-HEX26),
        button-standard-checked-shadow-inset:     rgba($white,$opacity-HEX66),
        button-standard-disabled-opacity:         $opacity-DEC52,                       //Since the spec declares this in decimal we will leave it without its own var
        button-standard-disabled-text-color:      rgba($black,$opacity-DEC36),          //Since the spec declares this in decimal we will leave it without its own var

        // -- Default
        button-default-border-inset:              $cornflower-blue,
        button-default-shadow-inset:              rgba($cornflower-blue,$opacity-HEX7F),
        button-default-hover-border-inset:        $cornflower-blue,
        button-default-hover-shadow-inset:        $cornflower-blue,

        // -- Dropdown
        button-dropdown-color:                    $black,

        // -- Dropdown Lightweight
        button-dropdown-lightweight-color:        $smoky,
        button-dropdown-lightweight-color-hover:  $black,
        button-dropdown-lightweight-color-active: $cornflower-blue,

        // Input
        input-text-border:                        $french-gray,
        input-text-bg:                            rgba(#F0F1F7,$opacity-HEXCC),
        input-text-color:                         $black,
        input-text-border-hover:                  #919499,
        input-text-border-active:                 $cornflower-blue,
        input-text-bg-active:                     rgba($cornflower-blue,$opacity-HEX1E),
        input-text-bg-error:                      #F7EBEB,
        input-text-border-error:                  #E03030,
        input-text-highlight-bg:                  #2E4585,
        input-text-highlight-color:               $white,
        input-text-disabled-opacity:              $opacity-DEC52,                       //Since the spec declares this in decimal we will leave it without its own var
        input-text-disabled-color:                rgba($black,$opacity-DEC36),          //Since the spec declares this in decimal we will leave it without its own var
        input-text-placeholder-color:             $smoky,

        // -- Radios
        radio-border:                             #8A93A3,
        radio-border-hover:                       $smoky,
        radio-checked-bg:                         $cornflower-blue,
        radio-disabled:                           rgba(#8a93a3,$opacity-DEC52),  //Since the spec declares this in decimal we will leave it without its own var

        // -- Switch (based on switch addendum)
        switch-border:                            $manatee,
        switch-border-hover:                      $smoky,
        switch-bg:                                none,
        switch-bg-checked:                        $cornflower-blue,
        switch-bg-checked-hover:                #6FB3FF,
        switch-bg-pressed:                        $manatee,

        switch-thumb-bg:                          $manatee,
        switch-thumb-bg-hover:                    $smoky,
        switch-thumb-bg-checked:                  $white,
        switch-thumb-bg-checked-hover:            $white,
        switch-thumb-bg-pressed:                  $white,
        switch-disabled-opacity:                  0.52,

        // -- Combo box
        button-dropdown-combo-bg:                 rgba(#F0F1F7,$opacity-HEXCC),
        button-dropdown-combo-bg-hover:           rgba($hover-blue,$opacity-HEX33),
        button-dropdown-combo-border:             $french-gray,
        button-dropdown-combo-border-hover:       #8A93A3,

        // -- Spin
        button-spin-gradient-top:                 $selago,
        button-spin-gradient-bottom:              $zircon,
        button-spin-border:                       $french-gray,
        button-spin-gradient-top-hover:           #EDF4FF,
        button-spin-gradient-bottom-hover:        #CDDFFF,
        button-spin-bg-active:                    $cornflower-blue,
        button-spin-opacity-disabled:             $opacity-DEC36,                       //Since the spec declares this in decimal we will leave it without its own var

        // Tree View
        list-item-color:                          $smoky,
        list-item-bg-hover:                       rgba($hover-blue,$opacity-HEX33),
        list-item-bg-focus:                       rgba($hover-blue,$opacity-HEX7F),
        list-item-bg-active:                      $hawkes-blue,

        // Data Grid
        data-grid-border:                         rgba($bunting,$opacity-HEX4C),
        data-grid-header-top-gradient:            $zircon,
        data-grid-header-bottom-gradient:         $quartz,
        data-grid-color:                          $smoky,
        data-grid-color-highlighted:              #3D72CC,
        data-grid-row-bg-hover:                   rgba($hover-blue,$opacity-HEX33),
        data-grid-row-bg-active:                  $hawkes-blue,
        data-grid-row-stripe-bg:                  rgba($black,$opacity-HEX0A),
        data-grid-stripe-border:                  rgba($black,$opacity-HEX0F),

        // Progress bar
        progress-bar-background:                  rgba($bunting, $opacity-HEX26),
        progress-bar-color:                       $cornflower-blue,
        progress-ring-color:                      $cornflower-blue,

        // Property Panel
        panel-bg:                                 #F2F4FA,
        panel-tabs-shadow:                        rgba($black,$opacity-HEX33),
        panel-tab-bar-bg:                         #E6E8F0,
        panel-header-color:                       $black,
        panel-border:                             rgba($bunting,$opacity-HEX4C),
        panel-border-left:                        #898B95,
        panel-top-border:                         $white,
        panel-splitter-bg:                        #DFE3EB,
        panel-splitter-border:                    rgba($bunting,$opacity-HEX4C),
        panel-splitter-bg-hover:                  #DFE3EB,
        panel-splitter-border-hover:              rgba($hover-blue,$opacity-HEX1E),
        panel-separator:                          rgba($bunting,$opacity-HEX4C),

        // Property Grid
        grid-title-color:                         $black,
        grid-search-placeholder-color:            $smoky,
        grid-item-darkened-opacity:               0.3,
        propgrid-item-darkened-opacity:           $opacity-DEC60,

        // Scrollbars
        scrollbar-track-bg:                       #D7DAE0,
        scrollbar-track-border:                   rgba($bunting,$opacity-HEX4C),
        scrollbar-thumb-bg:                       #717885,
        scrollbar-thumb-bg-hover:                 $smoky,
        scrollbar-thumb-bg-active:                $black,
        scrollbar-button-bg-hover:                rgba($hover-blue,$opacity-HEX1E),
        scrollbar-button-bg-active:               $cornflower-blue,

        // Styleguide
        style-guide-switch-label-color:           $black,
        style-guide-buttons-bg:                   $white,
        style-guide-label-color:                  $smoky,
        style-guide-default-bg:                   #FFFFFE,    //JEFF_TODO: this color doesn't show up in the Caranu spec at all. Why is it here? It has been mistakenly set as the content background on any app that has been using the "tabs-content content" combination
        style-guide-spacer-bg:                    #C5C9CF,

        // Dialog
        // JEFF_TODO If it is a modeless inactive dialog the border shouldn't be blue (should be #4C000000) See pg. 69 Caranu spec
        dialog-border-color:                      $cornflower-blue,
        dialog-background-color:                  $white,
        dialog-body-color:                        $smoky,
        dialog-box-shadow:                        rgba(#0D1E40, $opacity-HEX4C),
        // JEFF_TODO If it is a modeless inactive dialog the text shouldn't be blue (should be black) See pg. 69 Caranu spec
        dialog-title-bar-color:                   $cornflower-blue,
        dialog-title-bar-gradient-top:            $zircon,
        dialog-title-bar-gradient-bottom:         $quartz,
        dialog-title-bar-border-bottom:           rgba(#131B40, $opacity-HEX4C),

        // Textarea
        textarea-text-border:                     $french-gray,
        textarea-text-bg:                         rgba(#F0F1F7,$opacity-HEXCC),
        textarea-text-color:                      $black,
        textarea-text-border-hover:               #919499,
        textarea-text-border-active:              $cornflower-blue,
        textarea-text-bg-active:                  rgba($cornflower-blue,$opacity-HEX1E),
        textarea-text-bg-error:                   #F7EBEB,
        textarea-text-border-error:               #E03030,
        textarea-text-highlight-bg:               #2E4585,
        textarea-text-highlight-color:            $white,
        textarea-text-disabled-opacity:           0.52,
        textarea-text-disabled-color:             rgba($black,0.36),
        textarea-text-placeholder-color:          $smoky,

        // notification Icon
        notification-icon-body:                   $black,
        notification-icon-ellipse:                $cornflower-blue,

        // Default properties and values that are shared by many/most controls
        control-default-focus-color:              $cornflower-blue,
        control-default-disabled-opacity:         $opacity-DEC52,
        control-default-readonly-opacity:         $opacity-DEC60
    );

// Images & Icons
// Relative to `./src/images`
$icons:                       "icons";
$light-icons:                 "light/icons";

$icon-pack: (

        // *** Just going to alpha sort all the new/updated icons. Easier to find things

        add-bookmark:                         inline-image("#{$light-icons}/icon_add_bookmark_black.svg"),
        // JEFF_TODO bow-arrow names need to be fixed
        bow-arrow-down:                       inline-image("#{$light-icons}/icon_arrow_down_black.svg"),
        // This bow-arrow-up icon is created by rotating bow-arrow-down 180 degrees in the class/style
        // bow-arrow-up:                         inline-image("#{$light-icons}/icon_arrow_down_black.svg"),
        autorange:                            inline-image("#{$light-icons}/icon_autorange_black.svg"),
        autoscale-x:                          inline-image("#{$light-icons}/icon_autoscale_x_black.svg"),
        autoscale-xy:                         inline-image("#{$light-icons}/icon_autoscale_xy_black.svg"),
        autoscale-y:                          inline-image("#{$light-icons}/icon_autoscale_y_black.svg"),
        back:                                 inline-image("#{$light-icons}/icon_back_black.svg"),
        backspace:                            inline-image("#{$light-icons}/icon_backspace_black.svg"),
        band-power:                           inline-image("#{$light-icons}/icon_band_power_black.svg"),
        base-station:                         inline-image("#{$light-icons}/icon_base_station_black.svg"),
        bookmark:                             inline-image("#{$light-icons}/icon_bookmark_black.svg"),
        calendar:                             inline-image("#{$light-icons}/icon_calendar_black.svg"),
        channel-mode-selector:                inline-image("#{$light-icons}/icon_channel_mode_selector_black.svg"),
        chart-bubble:                         inline-image("#{$light-icons}/icon_chart_bubble_black.svg"),
        chart-line:                           inline-image("#{$light-icons}/icon_chart_line_black.svg"),
        chart-pareto:                         inline-image("#{$light-icons}/icon_chart_pareto_black.svg"),
        chart-trend:                          inline-image("#{$light-icons}/icon_chart_trend_black.svg"),
        close-file:                           inline-image("#{$light-icons}/icon_close_file_black.svg"),
        collapse-all:                         inline-image("#{$light-icons}/icon_collapse_all_black.svg"),
        collapse:                             inline-image("#{$light-icons}/icon_collapse_black.svg"),
        copy:                                 inline-image("#{$light-icons}/icon_copy_black.svg"),
        cut:                                  inline-image("#{$light-icons}/icon_cut_black.svg"),
        data-from-hardware:                   inline-image("#{$light-icons}/icon_data_from_hardware_black.svg"),
        data-from-recording:                  inline-image("#{$light-icons}/icon_data_from_recording_black.svg"),
        debug:                                inline-image("#{$light-icons}/icon_debug_black.svg"),
        disconnect:                           inline-image("#{$light-icons}/icon_disconnect_black.svg"),
        dock:                                 inline-image("#{$light-icons}/icon_dock_black.svg"),
        document:                             inline-image("#{$light-icons}/icon_document_black.svg"),
        download:                             inline-image("#{$light-icons}/icon_download_black.svg"),
        duplicate-window:                     inline-image("#{$light-icons}/icon_duplicate_window_black.svg"),
        edit:                                 inline-image("#{$light-icons}/icon_edit_black.svg"),
        ellipsis:                             inline-image("#{$light-icons}/icon_ellipsis_black.svg"),
        exit:                                 inline-image("#{$light-icons}/icon_exit_black.svg"),
        expand-all:                           inline-image("#{$light-icons}/icon_expand_all_black.svg"),
        expand-all-hover:                     inline-image("#{$light-icons}/icon_expand_all_hover_black.svg"),
        expand:                               inline-image("#{$light-icons}/icon_expand_black.svg"),
        expand-hover:                         inline-image("#{$light-icons}/icon_expand_hover_black.svg"),
        export:                               inline-image("#{$light-icons}/icon_export_black.svg"),
        fast-forward:                         inline-image("#{$light-icons}/icon_fast_forward_black.svg"),
        fast-rewind:                          inline-image("#{$light-icons}/icon_fast_rewind_black.svg"),
        filter:                               inline-image("#{$light-icons}/icon_filter_black.svg"),
        fit-to-screen:                        inline-image("#{$light-icons}/icon_fit_to_screen_black.svg"),
        float:                                inline-image("#{$light-icons}/icon_float_black.svg"),
        folder:                               inline-image("#{$light-icons}/icon_folder_black.svg"),
        fullscreen-off:                       inline-image("#{$light-icons}/icon_fullscreen_off_black.svg"),
        fullscreen-on:                        inline-image("#{$light-icons}/icon_fullscreen_on_black.svg"),
        getting-started:                      inline-image("#{$light-icons}/icon_getting_started_black.svg"),
        graph:                                inline-image("#{$light-icons}/icon_graph_black.svg"),
        help:                                 inline-image("#{$light-icons}/icon_help_black.svg"),
        home:                                 inline-image("#{$light-icons}/icon_home_black.svg"),
        import:                               inline-image("#{$light-icons}/icon_import_black.svg"),
        information:                          inline-image("#{$light-icons}/icon_information_black.svg"),
        instrument-available:                 inline-image("#{$light-icons}/icon_instrument_available_black.svg"),
        instrument-not-available:             inline-image("#{$light-icons}/icon_instrument_not_available_black.svg"),
        keyboard:                             inline-image("#{$light-icons}/icon_keyboard_black.svg"),
        license:                              inline-image("#{$light-icons}/icon_license_black.svg"),
        lightning-bolt:                       inline-image("#{$light-icons}/icon_lightning_bolt_black.svg"),
        link-selector:                        inline-image("#{$light-icons}/icon_link_selector_black.svg"),
        locked:                               inline-image("#{$light-icons}/icon_locked_black.svg"),
        marker:                               inline-image("#{$light-icons}/icon_marker_black.svg"),
        marker-hide-all:                      inline-image("#{$light-icons}/icon_marker_hide_all_black.svg"),
        marker-peak-higher:                   inline-image("#{$light-icons}/icon_marker_peak_higher_black.svg"),
        marker-peak-left:                     inline-image("#{$light-icons}/icon_marker_peak_left_black.svg"),
        marker-peak-lower:                    inline-image("#{$light-icons}/icon_marker_peak_lower_black.svg"),
        marker-peak-minimum:                  inline-image("#{$light-icons}/icon_marker_peak_minimum_black.svg"),
        marker-peak-right:                    inline-image("#{$light-icons}/icon_marker_peak_right_black.svg"),
        marker-peak-search:                   inline-image("#{$light-icons}/icon_marker_peak_search_black.svg"),
        menu:                                 inline-image("#{$light-icons}/icon_menu_black.svg"),
        minus:                                inline-image("#{$light-icons}/icon_minus_black.svg"),
        mobile-base-station:                  inline-image("#{$light-icons}/icon_mobile_base_station_black.svg"),
        mobile-station:                       inline-image("#{$light-icons}/icon_mobile_station_black.svg"),
        multi-window-arrange:                 inline-image("#{$light-icons}/icon_multi_window_arrange_black.svg"),
        network-connection:                   inline-image("#{$light-icons}/icon_network_connection_black.svg"),
        new-document:                         inline-image("#{$light-icons}/icon_new_document_black.svg"),
        new-folder:                           inline-image("#{$light-icons}/icon_new_folder_black.svg"),
        new-library-file:                     inline-image("#{$light-icons}/icon_new_library_file_black.svg"),
        next:                                 inline-image("#{$light-icons}/icon_next_black.svg"),
        not-pinned:                           inline-image("#{$light-icons}/icon_not_pinned_black.svg"),
        notification-badge:                   inline-image("#{$light-icons}/icon_notification_badge_black.svg"),
        notification-badge-large:             inline-image("#{$light-icons}/icon_notification_badge_large_black.svg"),
        notification:                         inline-image("#{$light-icons}/icon_notification_black.svg"),
        notification-error-list:              inline-image("#{$light-icons}/icon_notification_error_list_black.svg"),
        numberpad:                            inline-image("#{$light-icons}/icon_numberpad_black.svg"),
        open-file:                            inline-image("#{$light-icons}/icon_open_file_black.svg"),
        open-lab-setup:                       inline-image("#{$light-icons}/icon_open_lab_setup_black.svg"),
        orientation-xy:                       inline-image("#{$light-icons}/icon_orientation_xy_black.svg"),
        orientation-xz:                       inline-image("#{$light-icons}/icon_orientation_xz_black.svg"),
        orientation-yz:                       inline-image("#{$light-icons}/icon_orientation_yz_black.svg"),
        output:                               inline-image("#{$light-icons}/icon_output_black.svg"),
        page-down:                            inline-image("#{$light-icons}/icon_page_down_black.svg"),
        page-up:                              inline-image("#{$light-icons}/icon_page_up_black.svg"),
        paste:                                inline-image("#{$light-icons}/icon_paste_black.svg"),
        pause:                                inline-image("#{$light-icons}/icon_pause_black.svg"),
        pinned:                               inline-image("#{$light-icons}/icon_pinned_black.svg"),
        play-beginning:                       inline-image("#{$light-icons}/icon_play_beginning_black.svg"),
        play-end:                             inline-image("#{$light-icons}/icon_play_end_black.svg"),
        play-with-debug:                      inline-image("#{$light-icons}/icon_play_with_debug_black.svg"),
        plus:                                 inline-image("#{$light-icons}/icon_plus_black.svg"),
        pointer:                              inline-image("#{$light-icons}/icon_pointer_black.svg"),
        presets-menu:                         inline-image("#{$light-icons}/icon_presets_menu_black.svg"),
        previous:                             inline-image("#{$light-icons}/icon_previous_black.svg"),
        print:                                inline-image("#{$light-icons}/icon_print_black.svg"),
        property-panel:                       inline-image("#{$light-icons}/icon_property_panel_black.svg"),
        radiation-pattern:                    inline-image("#{$light-icons}/icon_radiation_pattern_black.svg"),
        recent:                               inline-image("#{$light-icons}/icon_recent_black.svg"),
        recording-full-time:                  inline-image("#{$light-icons}/icon_recording_full_time_black.svg"),
        recording-loop-at-end:                inline-image("#{$light-icons}/icon_recording_loop_at_end_black.svg"),
        recording-set-start:                  inline-image("#{$light-icons}/icon_recording_set_start_black.svg"),
        recording-set-stop:                   inline-image("#{$light-icons}/icon_recording_set_stop_black.svg"),
        redo:                                 inline-image("#{$light-icons}/icon_redo_black.svg"),
        refresh:                              inline-image("#{$light-icons}/icon_refresh_black.svg"),
        rf-emitting:                          inline-image("#{$light-icons}/icon_rf_emitting_black.svg"),
        save-as:                              inline-image("#{$light-icons}/icon_save_as_black.svg"),
        save:                                 inline-image("#{$light-icons}/icon_save_black.svg"),
        search:                               inline-image("#{$light-icons}/icon_search_black.svg"),
        select-area:                          inline-image("#{$light-icons}/icon_select_area_black.svg"),
        self-diagnostic:                      inline-image("#{$light-icons}/icon_self_diagnostic_black.svg"),
        settings-repair:                      inline-image("#{$light-icons}/icon_settings_repair_black.svg"),
        sound:                                inline-image("#{$light-icons}/icon_sound_black.svg"),
        sound-muted:                          inline-image("#{$light-icons}/icon_sound_muted_black.svg"),
        stations:                             inline-image("#{$light-icons}/icon_stations_black.svg"),
        sweep-continuous:                     inline-image("#{$light-icons}/icon_sweep_continuous_black.svg"),
        sweep-single:                         inline-image("#{$light-icons}/icon_sweep_single_black.svg"),
        sync:                                 inline-image("#{$light-icons}/icon_sync_black.svg"),
        time-gate:                            inline-image("#{$light-icons}/icon_time_gate_black.svg"),
        tools:                                inline-image("#{$light-icons}/icon_tools_black.svg"),
        trash-can:                            inline-image("#{$light-icons}/icon_trash_can_black.svg"),
        undo:                                 inline-image("#{$light-icons}/icon_undo_black.svg"),
        unlocked:                             inline-image("#{$light-icons}/icon_unlocked_black.svg"),
        update-firmware:                      inline-image("#{$light-icons}/icon_update_firmware_black.svg"),
        updates-check-for:                    inline-image("#{$light-icons}/icon_updates_check_for_black.svg"),
        USB:                                  inline-image("#{$light-icons}/icon_USB_black.svg"),
        use-tabbed-dialog:                    inline-image("#{$light-icons}/icon_use_tabbed_dialog_black.svg"),
        user-profile:                         inline-image("#{$light-icons}/icon_user_profile_black.svg"),
        web-link:                             inline-image("#{$light-icons}/icon_web_link_black.svg"),
        window-close:                         inline-image("#{$light-icons}/icon_window_close_black.svg"),
        window-maximize:                      inline-image("#{$light-icons}/icon_window_maximize_black.svg"),
        window-minimize:                      inline-image("#{$light-icons}/icon_window_minimize_black.svg"),
        window-restore:                       inline-image("#{$light-icons}/icon_window_restore_black.svg"),
        x-times-fast-forward:                 inline-image("#{$light-icons}/icon_x_times_fast_forward_black.svg"),
        x-times-fast-rewind:                  inline-image("#{$light-icons}/icon_x_times_fast_rewind_black.svg"),
        zoom-in:                              inline-image("#{$light-icons}/icon_zoom_in_black.svg"),
        zoom-out:                             inline-image("#{$light-icons}/icon_zoom_out_black.svg"),



        // *** Colored (non monochrome) icons have their own alpha sorted list

        condition-ok:                         inline-image("#{$icons}/icon_condition_ok_colored.svg"),
        cumulative-history:                   inline-image("#{$icons}/icon_cumulative_history_colored.svg"),
        delete:                               inline-image("#{$icons}/icon_delete_colored.svg"),
        digital-persistence:                  inline-image("#{$icons}/icon_digital_persistence_colored.svg"),
        error:                                inline-image("#{$icons}/icon_error_colored.svg"),
        play:                                 inline-image("#{$icons}/icon_play_colored.svg"),
        play_single_step:                     inline-image("#{$icons}/icon_play_single_step_colored.svg"),
        record:                               inline-image("#{$icons}/icon_record_colored.svg"),
        spectogram:                           inline-image("#{$icons}/icon_spectogram_colored.svg"),
        status-okay:                          inline-image("#{$icons}/icon_status_okay_colored.svg"),
        stop:                                 inline-image("#{$icons}/icon_stop_colored.svg"),
        warning:                              inline-image("#{$icons}/icon_warning_colored.svg"),



        // *** Logo/branding stuff deserves its own section. Let's not lose these uber important branded icons in the sea of general icons

        keysight-logo-icon:                   inline-image("#{$icons}/keysight-logo-icon.png"),
        keysight-logo:                        inline-image("#{$light-icons}/keysight-logo.png"),
        keysight-logo-pathwave:               inline-image("#{$light-icons}/keysight-logo-pathwave.svg"),
        keysight-logo-signature:              inline-image("#{$light-icons}/keysight-logo-signature.png"),



        // *** JEFF_TODO Older icons need to be updated. Request svgs from icon team.

        computer:                             inline-image("#{$light-icons}/computer.svg"),



        // *** Junk leftover from original UPro placehoder icons. Many/most are being used but need to be replaced with some official from Caranu/Alloy

        // Menus
        ph-menu-box:                          inline-image("#{$light-icons}/ph-menu-box.png"),

        // Toolbar
        ph-toolbar-box:                       inline-image("#{$light-icons}/ph-toolbar-box.png"),
        ph-toolbar-box-active:                inline-image("#{$light-icons}/ph-toolbar-box-active.png"),
        ph-toolbar-tab-box-active:            inline-image("#{$light-icons}/ph-toolbar-tab-box-active.png"),

        // Dropdowns
        caret-down:                           inline-image("#{$light-icons}/caret-down.png"),
        caret-down-hover:                     inline-image("#{$light-icons}/caret-down-hover.png"),
        caret-down-active:                    inline-image("#{$light-icons}/caret-down-active.png"),
        caret-down-alt-active:                inline-image("#{$icons}/caret-down-alt-active.png"),

        // -- Checkboxes
        checkbox:                             inline-image("#{$light-icons}/checkbox.png"),
        checkbox-hover:                       inline-image("#{$light-icons}/checkbox-hover.png"),
        checkbox-checked:                     inline-image("#{$light-icons}/checkbox-checked.png"),
        checkbox-checked-error:               inline-image("#{$icons}/checkbox-checked-error.png"),
        checkbox-error:                       inline-image("#{$icons}/checkbox-error.png"),
        checkbox-hover-error:                 inline-image("#{$icons}/checkbox-hover-error.png"),

        // -- Radio
        radio:                                inline-image("#{$light-icons}/radio.png"),
        radio-hover:                          inline-image("#{$light-icons}/radio-hover.png"),
        radio-checked:                        inline-image("#{$light-icons}/radio-checked.png"),
        radio-disabled:                       inline-image("#{$light-icons}/radio-disabled.png"),
        radio-checked-disabled:               inline-image("#{$light-icons}/radio-checked-disabled.png"),

        // -- Combo Box
        check:                                inline-image("#{$light-icons}/check.png"),

        // -- Spin Box
        arrow-up:                             inline-image("#{$light-icons}/arrow-up.png"),
        arrow-up-hover:                       inline-image("#{$light-icons}/arrow-up-hover.png"),
        arrow-up-active:                      inline-image("#{$light-icons}/arrow-up-active.png"),
        arrow-down:                           inline-image("#{$light-icons}/arrow-down.png"),
        arrow-down-hover:                     inline-image("#{$light-icons}/arrow-down-hover.png"),
        arrow-down-active:                    inline-image("#{$light-icons}/arrow-down-active.png"),

        // Panels
        panel-splitter-cursor-hover:          inline-image("#{$icons}/splitter-cursor.png"),
        panel-splitter-vertical-cursor-hover: inline-image("#{$icons}/splitter-vertical-cursor.png"),

        // Scrollbar
        scroll-caret-down:                    inline-image("#{$light-icons}/scroll-caret-down.png"),
        scroll-caret-down-hover:              inline-image("#{$light-icons}/scroll-caret-down-hover.png"),
        scroll-caret-down-active:             inline-image("#{$light-icons}/scroll-caret-down-active.png"),

        remove:                               inline-image("#{$light-icons}/remove.png"),
        target:                               inline-image("#{$light-icons}/target.png"),

);

$button-standard-box-shadow:        0 0px 0px 1px map_get($color-palette, button-standard-border) inset,
                                    0 2px 0px 0 map_get($color-palette, button-standard-shadow-inset) inset,
                                    0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-standard-hover-box-shadow:  0 0px 0px 1px map_get($color-palette, button-standard-hover-border-inset) inset,
                                    0 2px 0px 0 map_get($color-palette, button-standard-shadow-inset) inset,
                                    0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-standard-active-box-shadow: 0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-standard-checked-box-shadow:0 0px 0px 1px map_get($color-palette, button-standard-checked-border-inset) inset,
                                    0 1px 0px 0 map_get($color-palette, button-standard-checked-shadow-inset) inset,
                                    0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-default-box-shadow:         0 0px 0px 1px map_get($color-palette, button-default-border-inset) inset,
                                    0 0px 4px 0 map_get($color-palette, button-default-shadow-inset) inset,
                                    0 2px 0px 0 map_get($color-palette, button-standard-shadow-inset) inset,
                                    0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-default-hover-box-shadow:   0 0px 0px 1px map_get($color-palette, button-default-hover-border-inset) inset,
                                    0 0px 4px 0 map_get($color-palette, button-default-hover-shadow-inset) inset,
                                    0 2px 0px 0 map_get($color-palette, button-standard-shadow-inset) inset,
                                    0 1px 3px 0 map_get($color-palette, button-standard-shadow);

$button-default-active-box-shadow:  $button-standard-active-box-shadow;

$toolbar-background: map_get($color-palette, nav-tab-bar-gradient-top) 0%, map_get($color-palette, nav-tab-bar-gradient-mid) 92%, map_get($color-palette, nav-tab-bar-gradient-bottom) 100%;

@import "../components/_styles";
