<svg attr.height="{{height}}px" attr.width="{{width}}px" class="notification-icon" 
    enable-background="new 0 0 32.00 32.00" version="1.1"  
    viewBox="0 0 32.00 32.00" 
    xml:space="preserve" 
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:cc="http://creativecommons.org/ns#" 
    xmlns:dc="http://purl.org/dc/elements/1.1/" 
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <!--<metadata><rdf:RDF><cc:Work rdf:about=""><dc:format>image/svg+xml</dc:format><dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/><dc:title/></cc:Work></rdf:RDF></metadata>-->
	<path *ngIf="isCountZero()" fill="none" class="default-body" d="M 7,24.4922L 2.5,24.5L 2.5,8.50001L 22.5,8.50001L 22.5,24.5L 12.3021,24.526L 9.48438,29L 6.55469,24.2839"/>
    <g fill="none" *ngIf="!isCountZero()">
        <path d="m7.05 24.475l-4.5 0.0078v-16h7.2783"d="m7.05 24.475l-4.5 0.0078v-16h7.2783" class="main-body"/>
        <path d="m22.55 18.041v6.4418l-10.232 0.0061-2.8125 4.4115-2.9005-4.6337" class="main-body"/>
        <ellipse id="outer-ellipse" cx="19.5" cy="10.6" rx="10" ry="8" class="main-ellipse"/>
    </g>
    <g *ngIf="!isCountZero()" font-family="Roboto" font-size="10px" letter-spacing="0px" word-spacing="0px">
        <text id="number-text" x="19" [attr.y]="returnYvalue()" text-anchor="middle"  letter-spacing="0px" word-spacing="0px" 
          style="line-height:1.25" xml:space="preserve" class="message-count">
          {{ messageCount }}
        </text>
    </g>
</svg>