<header class="top-bar has-tabs">
	<div class="title-bar">
		<div class="top-bar-title">
			<span class="alloy-ic-keysight-logo"></span>
			<label class="app-title">Style Guide</label>
    </div>
    <div class="top-bar-right">
        <button type="button" class="button-minimize"></button>
        <button type="button" class="button-maximize"></button>
        <button type="button" class="button-close-x"></button>
    </div>
  </div>
  <div class="title-bar-section">
    <div class="quick-access-bar primary">
      <button alloy quickaccess alloyIcon="alloy-ic-graph" (click)="onThemeClick()"></button>
      <div class="quick-access-group-box">
        <button alloy quickaccess alloyIcon="alloy-ic-play"></button>
        <button alloy quickaccess alloyIcon="alloy-ic-stop"></button>
      </div>
      <button alloy quickaccess alloyIcon="alloy-ic-ellipses"></button>
    </div>
    <ul class="tabs tab-bar hack" data-tabs>
      <li class="tabs-title"><a>Tab 1</a></li>
      <li class="tabs-title"><a>Tab 2</a></li>
    </ul>
    <div class="quick-access-bar secondary">
        <div class="quick-access-group-box">
          <button alloy quickaccess alloyIcon="alloy-ic-download"></button>
          <button alloy quickaccess alloyIcon="alloy-ic-remove"></button>
          <button alloy quickaccess alloyIcon="alloy-ic-target"></button>
        </div>
        <button alloy quickaccess alloyIcon="alloy-ic-property-panel"></button>
      </div>
  </div>
  <div class="toolbar">
    <button alloy toolbar alloyIcon="alloy-ic-home"></button>
    <button alloy toolbar alloyIcon="alloy-ic-document"></button>
    <button alloy toolbar toggle alloyIcon="alloy-ic-folder"></button>
    <span class="separator"></span>
    <button alloy toolbar alloyIcon="alloy-ic-menu"></button>
    <button alloy toolbar alloyIcon="alloy-ic-tools"></button>

  </div>
</header>
<div class="tab-container vertical">
    <ul class="tabs tab-bar">
      <li class="tabs-title"><a routerLink="/about-box" >About Box</a></li>
      <li class="tabs-title"><a routerLink="/button" >Buttons</a></li>
      <li class="tabs-title"><a routerLink="/checkbox" >Checkbox</a></li>
      <li class="tabs-title"><a routerLink="/contextmenu">Contextmenu</a></li>
      <li class="tabs-title"><a routerLink="/display-settings">Display Settings</a></li>
      <li class="tabs-title"><a routerLink="/dropdowns">Dropdowns</a></li>
      <li class="tabs-title"><a routerLink="/icons">Icons</a></li>
      <li class="tabs-title"><a routerLink="/notification-icon">Notification Icon</a></li>
      <li class="tabs-title"><a routerLink="/progress-bar">Progress Bars</a></li>
      <li class="tabs-title"><a routerLink="/propertygrid">Property Grid</a></li>
      <li class="tabs-title"><a routerLink="/radio" >Radio</a></li>
      <li class="tabs-title"><a routerLink="/switcher">Switcher</a></li>
      <li class="tabs-title"><a routerLink="/textarea" >Textarea</a></li>
      <li class="tabs-title"><a routerLink="/textbox">Textbox</a></li>
      <li class="tabs-title"><a routerLink="/verification">Verification</a></li>
    </ul>
    <div class="tabs-content content">
        <router-outlet></router-outlet>
    </div>
</div>

