<div class="tabs-panel is-active">
    <!-- Display Settings Dialog -->
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Display Settings Dialog</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns">
                <div>
                    <button type="button" alloy standard (click)='openDisplay($event)'>Open Display Settings Dialog</button>
                </div>
            </div>
            <div class="columns small-7">
                <pre>
const DISPLAY_DIALOG_CONFIG: AlloyDialogConfig = {{ '{' }}
   panelClass: 'display-dialog',
   id: 'alloy-display-id',
   title: 'Display Settings'
   data: new AlloyDialogItem(AlloyDisplaySettingsDialog, {{ '{' }}
       ...
   {{ '}' }}),
   ....
   hasBackdrop: true,
   draggable: true,
   resizable: true,
{{ '}' }};

const dialogRef = dialogService.openDialog(DISPLAY_DIALOG_CONFIG);
                </pre>
            </div>
            <div class="row align-center">
                <div class="columns small-4">
                </div>
                <div class="columns small-8">
                </div>
            </div>
        </div>
    </div>
</div>