<div *ngIf="isResizable" class="resize-n" (mousedown)="onMouseDownN()"></div>
<div *ngIf="isResizable" class="resize-e" (mousedown)="onMouseDownE()"></div>
<div *ngIf="isResizable" class="resize-s" (mousedown)="onMouseDownS()"></div>
<div *ngIf="isResizable" class="resize-w" (mousedown)="onMouseDownW()"></div>
<div *ngIf="isResizable" class="resize-nw" (mousedown)="onMouseDownNW()"></div>
<div *ngIf="isResizable" class="resize-ne" (mousedown)="onMouseDownNE()"></div>
<div *ngIf="isResizable" class="resize-se" (mousedown)="onMouseDownSE()"></div>
<div *ngIf="isResizable" class="resize-sw" (mousedown)="onMouseDownSW()"></div>
