<form novalidate [formGroup]="dropdownForm">
    <div class="ag-grid-editable-properties">
        <alloy-dropdown [(ngModel)]="selectedValue"
            [errors]="dropdownForm.controls['dropdownFormControl'].errors"
            [errorMessage]="messageTooltip"
            [placeholder]="placeholder"
            formControlName="dropdownFormControl">
            <alloy-option *ngFor="let module of modules" [value]="module.value">
                {{ module.name }}
            </alloy-option>
        </alloy-dropdown>
    </div>
</form>