
<div class="tabs-panel is-active">
    <div class="content-container">
        <div class="row align-center">
            <div class="columns small-12">
                <h3>Textarea</h3>
                <br>
            </div>
        </div>
        <div class="row align-center">
            <div class="columns small-3">
                <form id="myform" ngNativeValidate ngNoForm>
                    <textarea [rows]="rows" [cols]="cols"
                        [disabled]="disabledSimple" [readonly]="readonlySimple" [required]="requiredSimple"
                        [placeholder]="placeholderSimple" [maxlength]="maxlengthSimple" [minlength]="minlengthSimple" 
                        [autofocus]="true" [spellcheck]="spellcheckSimple"
                        [wrap]="wrapSimple" [value]="valueSimple" [(ngModel)]="textValue">
                    </textarea>
                </form>
                <input type="submit" class="button-standard" form="myform">
                <h6>Display input text below:</h6>
                <p>{{textValue}}</p>
            </div>
            <div class="columns small-3">  
                <div class="row">
                    <h6>Textarea Attributes</h6>
                </div><br>
                <div class="row">
                    <div class="columns small-6">
                        <button id="required" type="button" class="button-standard" (click)="toggleRequired()" [ngClass]="{'is-pressed': requiredSimple}">Required</button>   
                    </div>
                    <div class="columns small-6">
                        <button id="disabled" type="button" class="button-standard" (click)="toggleDisabled()" [ngClass]="{'is-pressed': disabledSimple}">Disabled</button>
                    </div>
                </div><br>
                <div class="row">
                    <div class="columns small-6"> 
                        <button id="spellcheck" type="button" class="button-standard" (click)="toggleSpellcheck()" [ngClass]="{'is-pressed': spellcheckSimple}">Spellcheck</button>                                                                                                                                                                                                                                         
                    </div>  
                    <div class="columns small-6">
                        <button id="readonly" type="button" class="button-standard" (click)="toggleReadonly()" [ngClass]="{'is-pressed': readonlySimple}">Readonly</button>                        
                    </div>
                </div><br>
                <div class="row ">
                    <div class="columns small-5">
                        <label>Placeholder:</label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="placeholderSimple" >
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Max Length: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="maxlengthSimple" (keypress)="isNumberKey($event)" class="input-block">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Min Length: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="minlengthSimple" (keypress)="isNumberKey($event)" class="input-block">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Value: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="valueSimple" class="input-block">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Wrap: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="wrapSimple" class="input-block">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Rows: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="rows" (keypress)="isNumberKey($event)" class="input-block">
                    </div>
                </div>
                <div class="row">
                    <div class="columns small-5">
                        <label class="label-block">Columns: </label>
                    </div>
                    <div class="columns small-7">
                        <input type="text" [(ngModel)]="cols" (keypress)="isNumberKey($event)" class="input-block">
                    </div>
                </div>           
            </div>
            <div class="columns small-6">
                <pre ngNonBindable>
&lt;textarea
    [rows]="rows" [cols]="cols"
    [dirname]="dirname"
    [form]="form"
    [maxlength]="maxlength"
    [minlength]="minlength"
    [name]="name"
    [placeholder]="placeholder"
    [wrap]="wrap"
    [type]="type"
    [value]="value"
    [autofocus]="true" 
    [disabled]="disabled" 
    [readonly]="readonly"
    [required]="required"
    [spellcheck]="spellcheck"
    [(ngModel)]="textValue"&gt;
&lt;/textarea&gt;
                </pre>
            </div>
        </div>
    </div>
</div>