<div class="size">
    <div class="row collapse header">
        <div class="column shrink app-icon" *ngIf="icon">
            <img [src]=icon />
        </div>
        <div class="column shrink title">
            <div>
                <h3 class="app-name">{{ appName }}</h3>
                <h3 *ngIf="descriptor" class="descriptor">{{ descriptor }}</h3>
                <p class="copyright">&copy; {{ copyright }}</p>
            </div>
        </div>
    </div>
    <div class="row collapse align-middle content">
        <div class="column shrink align-self-middle">
            <p> Version: {{ version }} </p>
            <p> {{ content }} </p>
        </div>
    </div>
    <div class="column collapse footer">
        <div class="row shrink align-right close-bar">
            <button type="button" alloy default (click)='close()'>Close</button>
        </div>
        <div class="row align-right shrink">
            <span class="alloy-ic-keysight-logo-signature signature"></span>
        </div>
    </div>
</div>